/*! This file was created automatically. */
/*! Use updateTypography gulp task if you need to update typography. */
  
:root {
  --text--h1--font-family: "Kaspersky Sans Text", "Kaspersky Sans", Arial, sans-serif;
  --text--h1--font-weight: 600;
  --text--h1--font-style: normal;
  --text--h1--font-size: 48px;
  --text--h1--line-height: 56px;
  --text--h1--letter-spacing: -0.5px;
  --text--h2--font-family: "Kaspersky Sans Text", "Kaspersky Sans", Arial, sans-serif;
  --text--h2--font-weight: 600;
  --text--h2--font-style: normal;
  --text--h2--font-size: 32px;
  --text--h2--line-height: 40px;
  --text--h2--letter-spacing: -0.5px;
  --text--h3--font-family: "Kaspersky Sans Text", "Kaspersky Sans", Arial, sans-serif;
  --text--h3--font-weight: 600;
  --text--h3--font-style: normal;
  --text--h3--font-size: 28px;
  --text--h3--line-height: 32px;
  --text--h3--letter-spacing: 0;
  --text--h4--font-family: "Kaspersky Sans Text", "Kaspersky Sans", Arial, sans-serif;
  --text--h4--font-weight: 600;
  --text--h4--font-style: normal;
  --text--h4--font-size: 24px;
  --text--h4--line-height: 32px;
  --text--h4--letter-spacing: 0;
  --text--h5--font-family: "Kaspersky Sans Text", "Kaspersky Sans", Arial, sans-serif;
  --text--h5--font-weight: 600;
  --text--h5--font-style: normal;
  --text--h5--font-size: 20px;
  --text--h5--line-height: 24px;
  --text--h5--letter-spacing: 0;
  --text--h6--font-family: "Kaspersky Sans Text", "Kaspersky Sans", Arial, sans-serif;
  --text--h6--font-weight: 600;
  --text--h6--font-style: normal;
  --text--h6--font-size: 16px;
  --text--h6--line-height: 24px;
  --text--h6--letter-spacing: 0;
  --text--btr2--font-family: "Kaspersky Sans Text", "Kaspersky Sans", Arial, sans-serif;
  --text--btr2--font-weight: 400;
  --text--btr2--font-style: normal;
  --text--btr2--font-size: 16px;
  --text--btr2--line-height: 24px;
  --text--btr2--letter-spacing: 0px;
  --text--btr3--font-family: "Kaspersky Sans Text", "Kaspersky Sans", Arial, sans-serif;
  --text--btr3--font-weight: 400;
  --text--btr3--font-style: normal;
  --text--btr3--font-size: 14px;
  --text--btr3--line-height: 20px;
  --text--btr3--letter-spacing: 0px;
  --text--btr4--font-family: "Kaspersky Sans Text", "Kaspersky Sans", Arial, sans-serif;
  --text--btr4--font-weight: 400;
  --text--btr4--font-style: normal;
  --text--btr4--font-size: 12px;
  --text--btr4--line-height: 16px;
  --text--btr4--letter-spacing: 0px;
  --text--btr5--font-family: "Kaspersky Sans Text", "Kaspersky Sans", Arial, sans-serif;
  --text--btr5--font-weight: 400;
  --text--btr5--font-style: normal;
  --text--btr5--font-size: 10px;
  --text--btr5--line-height: 12px;
  --text--btr5--letter-spacing: 0px;
  --text--btm2--font-family: "Kaspersky Sans Text", "Kaspersky Sans", Arial, sans-serif;
  --text--btm2--font-weight: 500;
  --text--btm2--font-style: normal;
  --text--btm2--font-size: 16px;
  --text--btm2--line-height: 24px;
  --text--btm2--letter-spacing: 0px;
  --text--btm3--font-family: "Kaspersky Sans Text", "Kaspersky Sans", Arial, sans-serif;
  --text--btm3--font-weight: 500;
  --text--btm3--font-style: normal;
  --text--btm3--font-size: 14px;
  --text--btm3--line-height: 20px;
  --text--btm3--letter-spacing: 0px;
  --text--btm4--font-family: "Kaspersky Sans Text", "Kaspersky Sans", Arial, sans-serif;
  --text--btm4--font-weight: 500;
  --text--btm4--font-style: normal;
  --text--btm4--font-size: 12px;
  --text--btm4--line-height: 16px;
  --text--btm4--letter-spacing: 0px;
  --text--btm5--font-family: "Kaspersky Sans Text", "Kaspersky Sans", Arial, sans-serif;
  --text--btm5--font-weight: 500;
  --text--btm5--font-style: normal;
  --text--btm5--font-size: 10px;
  --text--btm5--line-height: 12px;
  --text--btm5--letter-spacing: 0px;
  --text--mtr3--font-family: "Kaspersky Sans Mono", "Kaspersky Sans", Arial, sans-serif;
  --text--mtr3--font-weight: 400;
  --text--mtr3--font-style: normal;
  --text--mtr3--font-size: 14px;
  --text--mtr3--line-height: 20px;
  --text--mtr3--letter-spacing: 0px;
  --text--mtr4--font-family: "Kaspersky Sans Mono", "Kaspersky Sans", Arial, sans-serif;
  --text--mtr4--font-weight: 400;
  --text--mtr4--font-style: normal;
  --text--mtr4--font-size: 12px;
  --text--mtr4--line-height: 16px;
  --text--mtr4--letter-spacing: 0px;
}
