/*! This file create automatically.*/
/*! Use updateColors gulp task if you need update colors.*/

:root {
 --color--violet50: #FEEDFA;
 --color--violet100: #FBDDF3;
 --color--violet200: #F0BBE5;
 --color--violet300: #EA98D8;
 --color--violet400: #E073CB;
 --color--violet500: #D350B9;
 --color--violet600: #B03D9D;
 --color--violet700: #89307E;
 --color--violet800: #60315A;
 --color--violet900: #432540;
 --color--violet950: #2C252B;
 --color--purple50: #F3F2FF;
 --color--purple100: #E9E3FB;
 --color--purple200: #D4C8F9;
 --color--purple300: #BDABF7;
 --color--purple400: #AB94F1;
 --color--purple500: #8E76DD;
 --color--purple600: #725CB6;
 --color--purple700: #554590;
 --color--purple800: #41366B;
 --color--purple900: #322A4E;
 --color--purple950: #29282F;
 --color--marina50: #E9F0FF;
 --color--marina100: #D3E2FF;
 --color--marina200: #A6C5FF;
 --color--marina300: #7AA7FF;
 --color--marina400: #558AF9;
 --color--marina500: #426FEC;
 --color--marina600: #394DBF;
 --color--marina700: #293D9A;
 --color--marina800: #2A376C;
 --color--marina900: #252E50;
 --color--marina950: #252734;
 --color--marengo50: #E4F6FD;
 --color--marengo100: #C3F0FD;
 --color--marengo200: #86DEF9;
 --color--marengo300: #53CCF1;
 --color--marengo400: #1CBAE7;
 --color--marengo500: #019CDD;
 --color--marengo600: #037FB5;
 --color--marengo700: #06638D;
 --color--marengo800: #1A4458;
 --color--marengo900: #1D323D;
 --color--marengo950: #22292C;
 --color--emerald50: #DFF8F3;
 --color--emerald100: #C0F0E7;
 --color--emerald200: #94DCD0;
 --color--emerald300: #6BC9B8;
 --color--emerald400: #3DB5A1;
 --color--emerald500: #1DA189;
 --color--emerald600: #088572;
 --color--emerald700: #06675B;
 --color--emerald800: #184640;
 --color--emerald900: #193530;
 --color--emerlad950: #252B2A;
 --color--grass50: #F1FAEE;
 --color--grass100: #E1F5D7;
 --color--grass200: #C7E9B7;
 --color--grass300: #ADDD97;
 --color--grass400: #98CF7F;
 --color--grass500: #86C16A;
 --color--grass600: #5B9E55;
 --color--grass700: #467A42;
 --color--grass800: #2C472A;
 --color--grass900: #1C351C;
 --color--grass950: #272A27;
 --color--yellow50: #FEF8EB;
 --color--yellow100: #FFF1D5;
 --color--yellow200: #FCE3AE;
 --color--yellow300: #FBD385;
 --color--yellow400: #F9C559;
 --color--yellow500: #F3B846;
 --color--yellow600: #D0900E;
 --color--yellow700: #9F6712;
 --color--yellow800: #554123;
 --color--yellow900: #382E1B;
 --color--yellow950: #2C2A25;
 --color--orange50: #FFF3EC;
 --color--orange100: #FFE7D9;
 --color--orange200: #FFCFB4;
 --color--orange300: #FFB78E;
 --color--orange400: #FF9F69;
 --color--orange500: #FF7B43;
 --color--orange600: #D15138;
 --color--orange700: #A63B29;
 --color--orange800: #6D3127;
 --color--orange900: #48251F;
 --color--orange950: #312826;
 --color--red50: #FFECEA;
 --color--red100: #FFE1DF;
 --color--red200: #FFC1BE;
 --color--red300: #FFA29D;
 --color--red400: #FE827C;
 --color--red500: #FA625B;
 --color--red600: #DB3545;
 --color--red700: #B21A35;
 --color--red800: #6F2432;
 --color--red900: #4D2129;
 --color--red950: #342628;
 --color--cg50: #F2F3F4;
 --color--cg100: #E6E7E9;
 --color--cg200: #CCD0D4;
 --color--cg300: #B2B8BF;
 --color--cg400: #98A0AA;
 --color--cg500: #7F8994;
 --color--cg600: #68707B;
 --color--cg700: #505862;
 --color--cg800: #383F48;
 --color--cg900: #21272F;
 --color--cg950: #131A23;
 --color--lg50: #2F3033;
 --color--lg100: #515255;
 --color--lg200: #707175;
 --color--lg300: #8F9093;
 --color--lg400: #ADAEB0;
 --color--lg500: #C7C7C9;
 --color--lg600: #DBDBDC;
 --color--lg700: #E7E7E9;
 --color--lg800: #EEEFF1;
 --color--lg900: #F7F7F8;
 --color--dg50: #F7F7F8;
 --color--dg100: #CACBCE;
 --color--dg200: #A3A4A6;
 --color--dg300: #7E7F83;
 --color--dg400: #606163;
 --color--dg500: #464749;
 --color--dg600: #3C3D3E;
 --color--dg700: #343537;
 --color--dg800: #2D2D2F;
 --color--dg900: #252527;
 --color--dga50: #FFFFFFF5;
 --color--dga100: #FFFFFFC4;
 --color--dga200: #FFFFFF96;
 --color--dga300: #FFFFFF6E;
 --color--dga400: #FFFFFF4D;
 --color--dga500: #FFFFFF30;
 --color--dga600: #FFFFFF24;
 --color--dga700: #FFFFFF1C;
 --color--dga800: #FFFFFF12;
 --color--dga900: #FFFFFF08;
 --color--lga50: #000000CF;
 --color--lga100: #000000AD;
 --color--lga200: #0000008F;
 --color--lga300: #0000006E;
 --color--lga400: #00000052;
 --color--lga500: #00000038;
 --color--lga600: #00000024;
 --color--lga700: #00000017;
 --color--lga800: #0000000F;
 --color--lga900: #00000008;
 --color--staticwhite: #FFFFFF;
 --color--staticblack: #1D1D1F;
 --color--staticmenu: #131315;
}

:root,
.theme-light {
  --text-icons-elements--primary: #2F3033;
  --text-icons-elements--secondary: #000000AD;
  --text-icons-elements--secondary2: #0000008F;
  --text-icons-elements--base-icon: #0000006E;
  --text-icons-elements--baseicon: #0000006E;
  --text-icons-elements--disabled: #00000052;
  --text-icons-elements--secondary-solid: #515255;
  --text-icons-elements--secondary2-solid: #707175;
  --text-icons-elements--base-icon-solid: #8F9093;
  --text-icons-elements--disabled-solid: #ADAEB0;
  --text-icons-elements--primary-invert: #F7F7F8;
  --text-icons-elements--secondary-invert: #FFFFFFC4;
  --text-icons-elements--secondary2-invert: #FFFFFF96;
  --text-icons-elements--base-icon-invert: #FFFFFF6E;
  --text-icons-elements--baseicon-invert: #FFFFFF6E;
  --text-icons-elements--disabled-invert: #FFFFFF4D;
  --text-icons-elements--secondary-invert-solid: #CACBCE;
  --text-icons-elements--secondary2-invert-solid: #A3A4A6;
  --text-icons-elements--base-icon-invert-solid: #7E7F83;
  --text-icons-elements--disabled-invert-solid: #606163;
  --bg--base: #FFFFFF;
  --bg--alternative: #F7F7F8;
  --bg--alternative2: #EEEFF1;
  --bg--base-invert: #1D1D1F;
  --bg--alternative-invert: #252527;
  --bg--alternative2-invert: #2D2D2F;
  --bg--transparent: #FFFFFF00;
  --elements--line: #00000038;
  --elements--line-solid: #C7C7C9;
  --elements--line-invert: #FFFFFF30;
  --elements--line-invert-solid: #464749;
  --elements--separator: #00000017;
  --elements--seporator: #00000017;
  --elements--separator-solid: #E7E7E9;
  --elements--separator-bold: #00000024;
  --elements--seporatorbold: #00000024;
  --elements--separator-bold-solid: #DBDBDC;
  --elements--separator-invert: #FFFFFF1C;
  --elements--seporator-invert: #FFFFFF1C;
  --elements--separator-invert-solid: #343537;
  --elements--separator-bold-invert: #FFFFFF24;
  --elements--seporatorbold-invert: #FFFFFF24;
  --elements--separator-bold-invert-solid: #3C3D3E;
  --elements--accent-link: #394DBF;
  --elements--accent-link-visited: #89307E;
  --elements--highlight: #FCE3AE;
  --main-interact--primary: #394DBF;
  --main-interact--secondary: #293D9A;
  --main-interact--tertiary: #2A376C;
  --main-interact--focus: #7AA7FF;
  --main-interact--pressed: #A6C5FF;
  --main-interact--primary-invert: #E9F0FF;
  --main-interact--secondary-invert: #D3E2FF;
  --main-interact--tertiary-invert: #A6C5FF;
  --main-interact--border-invert: #7AA7FF;
  --danger-interact--primary: #DB3545;
  --danger-interact--secondary: #B21A35;
  --danger-interact--tertiary: #6F2432;
  --danger-interact--primary-invert: #FFECEA;
  --danger-interact--secondary-invert: #FFE1DF;
  --danger-interact--tertiary-invert: #FFC1BE;
  --danger-interact--border-invert: #FFA29D;
  --statestatuses--new: #53CCF1;
  --statestatuses--update: #89307E;
  --statestatuses--in-progress: #394DBF;
  --statestatuses--inprogress: #394DBF;
  --statestatuses--resolved-solved: #7F8994;
  --statestatuses--resolved_solved: #7F8994;
  --statestatuses--in-incident: #AB94F1;
  --statestatuses--inincedent: #AB94F1;
  --criticalitystatuses--critical: #B21A35;
  --criticalitystatuses--high: #FA625B;
  --criticalitystatuses--medium: #F9C559;
  --criticalitystatuses--low: #98A0AA;
  --criticalitystatuses--info: #AB94F1;
  --criticalitystatuses--positive: #1DA189;
  --surface--red: #FFECEA;
  --surface--orange: #FFF3EC;
  --surface--yellow: #FEF8EB;
  --surface--grass: #F1FAEE;
  --surface--emerald: #DFF8F3;
  --surface--marengo: #E4F6FD;
  --surface--marina: #E9F0FF;
  --surface--purple: #F3F2FF;
  --surface--violet: #FEEDFA;
  --surface--coldgrey: #F2F3F4;
  --surface--neutral: #FFFFFF;
  --tags--neutral: #515255;
  --tags--neutral-bg-active: #00000038;
  --tags--neutral-bg-base: #00000017;
  --tags--neutral-bg-hover: #00000024;
  --tags--neutral-invert: #505862;
  --tags--grey: #E7E7E9;
  --tags--grey-bg-active: #2F3033;
  --tags--grey-bg-base: #707175;
  --tags--grey-bg-hover: #515255;
  --tags--red: #FFE1DF;
  --tags--red-bg-active: #6F2432;
  --tags--red-bg-base: #DB3545;
  --tags--red-bg-hover: #B21A35;
  --tags--orange: #FFE7D9;
  --tags--orange-bg-active: #6D3127;
  --tags--orange-bg-base: #D15138;
  --tags--orange-bg-hover: #A63B29;
  --tags--yellow: #FFF1D5;
  --tags--yellow-bg-active: #554123;
  --tags--yellow-bg-base: #D0900E;
  --tags--yellow-bg-hover: #9F6712;
  --tags--grass: #E1F5D7;
  --tags--grass-bg-active: #2C472A;
  --tags--grass-bg-base: #5B9E55;
  --tags--grass-bg-hover: #467A42;
  --tags--emerald: #C0F0E7;
  --tags--emerald-bg-active: #184640;
  --tags--emerald-bg-base: #088572;
  --tags--emerald-bg-hover: #06675B;
  --tags--marengo: #C3F0FD;
  --tags--marengo-bg-active: #1A4458;
  --tags--marengo-bg-base: #037FB5;
  --tags--marengo-bg-hover: #06638D;
  --tags--marina: #D3E2FF;
  --tags--marina-bg-active: #2A376C;
  --tags--marina-bg-base: #394DBF;
  --tags--marina-bg-hover: #293D9A;
  --tags--purple: #E9E3FB;
  --tags--purple-bg-active: #41366B;
  --tags--purple-bg-base: #725CB6;
  --tags--purple-bg-hover: #554590;
  --tags--violet: #FBDDF3;
  --tags--violet-bg-active: #60315A;
  --tags--violet-bg-base: #B03D9D;
  --tags--violet-bg-hover: #89307E;
  --tagsoutlined--neutral: #515255;
  --tagsoutlined--neutral-bg-active: #EEEFF1;
  --tagsoutlined--neutral-bg-base: #FFFFFF;
  --tagsoutlined--neutral-bg-hover: #F7F7F8;
  --tagsoutlined--neutral-border: #C7C7C9;
  --tagsoutlined--grey: #515255;
  --tagsoutlined--grey-bg-active: #DBDBDC;
  --tagsoutlined--grey-bg-base: #EEEFF1;
  --tagsoutlined--grey-bg-hover: #E7E7E9;
  --tagsoutlined--grey-border: #ADAEB0;
  --tagsoutlined--red: #B21A35;
  --tagsoutlined--red-bg-active: #FFC1BE;
  --tagsoutlined--red-bg-base: #FFECEA;
  --tagsoutlined--red-bg-hover: #FFE1DF;
  --tagsoutlined--red-border: #FFA29D;
  --tagsoutlined--orange: #A63B29;
  --tagsoutlined--orange-bg-active: #FFCFB4;
  --tagsoutlined--orange-bg-base: #FFF3EC;
  --tagsoutlined--orange-bg-hover: #FFE7D9;
  --tagsoutlined--orange-border: #FFB78E;
  --tagsoutlined--yellow: #9F6712;
  --tagsoutlined--yellow-bg-active: #FCE3AE;
  --tagsoutlined--yellow-bg-base: #FEF8EB;
  --tagsoutlined--yellow-bg-hover: #FFF1D5;
  --tagsoutlined--yellow-border: #FBD385;
  --tagsoutlined--grass: #467A42;
  --tagsoutlined--grass-bg-active: #E1F5D7;
  --tagsoutlined--grass-bg-base: #F1FAEE;
  --tagsoutlined--grass-bg-hover: #E1F5D7;
  --tagsoutlined--grass-border: #ADDD97;
  --tagsoutlined--emerald: #06675B;
  --tagsoutlined--emerald-bg-active: #94DCD0;
  --tagsoutlined--emerald-bg-base: #DFF8F3;
  --tagsoutlined--emerald-bg-hover: #C0F0E7;
  --tagsoutlined--emerald-border: #6BC9B8;
  --tagsoutlined--marengo: #06638D;
  --tagsoutlined--marengo-bg-active: #86DEF9;
  --tagsoutlined--marengo-bg-base: #E4F6FD;
  --tagsoutlined--marengo-bg-hover: #C3F0FD;
  --tagsoutlined--marengo-border: #53CCF1;
  --tagsoutlined--marina: #293D9A;
  --tagsoutlined--marina-bg-active: #A6C5FF;
  --tagsoutlined--marina-bg-base: #E9F0FF;
  --tagsoutlined--marina-bg-hover: #D3E2FF;
  --tagsoutlined--marina-border: #7AA7FF;
  --tagsoutlined--purple: #554590;
  --tagsoutlined--purple-bg-active: #D4C8F9;
  --tagsoutlined--purple-bg-base: #F3F2FF;
  --tagsoutlined--purple-bg-hover: #E9E3FB;
  --tagsoutlined--purple-border: #BDABF7;
  --tagsoutlined--violet: #89307E;
  --tagsoutlined--violet-bg-active: #FEEDFA;
  --tagsoutlined--violet-bg-base: #F0BBE5;
  --tagsoutlined--violet-bg-hover: #FBDDF3;
  --tagsoutlined--violet-border: #EA98D8;
}

.theme-dark {
  --text-icons-elements--primary: #F7F7F8;
  --text-icons-elements--secondary: #FFFFFFC4;
  --text-icons-elements--secondary2: #FFFFFF96;
  --text-icons-elements--base-icon: #FFFFFF6E;
  --text-icons-elements--baseicon: #FFFFFF6E;
  --text-icons-elements--disabled: #FFFFFF4D;
  --text-icons-elements--secondary-solid: #CACBCE;
  --text-icons-elements--secondary2-solid: #A3A4A6;
  --text-icons-elements--base-icon-solid: #7E7F83;
  --text-icons-elements--disabled-solid: #606163;
  --text-icons-elements--primary-invert: #C7C7C9;
  --text-icons-elements--secondary-invert: #000000AD;
  --text-icons-elements--secondary2-invert: #0000008F;
  --text-icons-elements--base-icon-invert: #0000006E;
  --text-icons-elements--baseicon-invert: #0000006E;
  --text-icons-elements--disabled-invert: #00000052;
  --text-icons-elements--secondary-invert-solid: #515255;
  --text-icons-elements--secondary2-invert-solid: #707175;
  --text-icons-elements--base-icon-invert-solid: #8F9093;
  --text-icons-elements--disabled-invert-solid: #ADAEB0;
  --bg--base: #1D1D1F;
  --bg--alternative: #252527;
  --bg--alternative2: #2D2D2F;
  --bg--base-invert: #FFFFFF;
  --bg--alternative-invert: #F7F7F8;
  --bg--alternative2-invert: #EEEFF1;
  --bg--transparent: #FFFFFF00;
  --elements--line: #FFFFFF30;
  --elements--line-solid: #464749;
  --elements--line-invert: #00000038;
  --elements--line-invert-solid: #C7C7C9;
  --elements--separator: #FFFFFF1C;
  --elements--seporator: #FFFFFF1C;
  --elements--separator-solid: #343537;
  --elements--separator-bold: #FFFFFF24;
  --elements--seporatorbold: #FFFFFF24;
  --elements--separator-bold-solid: #3C3D3E;
  --elements--separator-invert: #00000017;
  --elements--seporator-invert: #00000017;
  --elements--separator-invert-solid: #E7E7E9;
  --elements--separator-bold-invert: #00000024;
  --elements--seporatorbold-invert: #00000024;
  --elements--separator-bold-invert-solid: #DBDBDC;
  --elements--accent-link: #7AA7FF;
  --elements--accent-link-visited: #EA98D8;
  --elements--highlight: #554123;
  --main-interact--primary: #7AA7FF;
  --main-interact--secondary: #A6C5FF;
  --main-interact--tertiary: #D3E2FF;
  --main-interact--focus: #394DBF;
  --main-interact--pressed: #A6C5FF;
  --main-interact--primary-invert: #252E50;
  --main-interact--secondary-invert: #2A376C;
  --main-interact--tertiary-invert: #293D9A;
  --main-interact--border-invert: #394DBF;
  --danger-interact--primary: #FFA29D;
  --danger-interact--secondary: #FFC1BE;
  --danger-interact--tertiary: #FFE1DF;
  --danger-interact--primary-invert: #4D2129;
  --danger-interact--secondary-invert: #6F2432;
  --danger-interact--tertiary-invert: #B21A35;
  --danger-interact--border-invert: #DB3545;
  --statestatuses--new: #53CCF1;
  --statestatuses--update: #89307E;
  --statestatuses--in-progress: #394DBF;
  --statestatuses--inprogress: #394DBF;
  --statestatuses--resolved-solved: #7F8994;
  --statestatuses--resolved_solved: #7F8994;
  --statestatuses--in-incident: #AB94F1;
  --statestatuses--inincedent: #AB94F1;
  --criticalitystatuses--critical: #DB3545;
  --criticalitystatuses--high: #FE827C;
  --criticalitystatuses--medium: #F9C559;
  --criticalitystatuses--low: #98A0AA;
  --criticalitystatuses--info: #AB94F1;
  --criticalitystatuses--positive: #1DA189;
  --surface--red: #4D2129;
  --surface--orange: #48251F;
  --surface--yellow: #382E1B;
  --surface--grass: #1C351C;
  --surface--emerald: #193530;
  --surface--marengo: #1D323D;
  --surface--marina: #252E50;
  --surface--purple: #322A4E;
  --surface--violet: #432540;
  --surface--coldgrey: #21272F;
  --surface--neutral: #343537;
  --tags--neutral: #F7F7F8;
  --tags--neutral-invert: #E6E7E9;
  --tags--neutral-bg-active: #FFFFFF30;
  --tags--neutral-bg-base: #FFFFFF1C;
  --tags--neutral-bg-hover: #FFFFFF24;
  --tags--grey: #343537;
  --tags--grey-bg-active: #F7F7F8;
  --tags--grey-bg-base: #A3A4A6;
  --tags--grey-bg-hover: #CACBCE;
  --tags--red: #6F2432;
  --tags--red-bg-active: #FFE1DF;
  --tags--red-bg-base: #FFA29D;
  --tags--red-bg-hover: #FFC1BE;
  --tags--orange: #6D3127;
  --tags--orange-bg-active: #FFE7D9;
  --tags--orange-bg-base: #FFB78E;
  --tags--orange-bg-hover: #FFCFB4;
  --tags--yellow: #554123;
  --tags--yellow-bg-active: #FFF1D5;
  --tags--yellow-bg-base: #FBD385;
  --tags--yellow-bg-hover: #FCE3AE;
  --tags--grass: #2C472A;
  --tags--grass-bg-active: #E1F5D7;
  --tags--grass-bg-base: #ADDD97;
  --tags--grass-bg-hover: #C7E9B7;
  --tags--emerald: #184640;
  --tags--emerald-bg-active: #C0F0E7;
  --tags--emerald-bg-base: #6BC9B8;
  --tags--emerald-bg-hover: #94DCD0;
  --tags--marengo: #1A4458;
  --tags--marengo-bg-active: #C3F0FD;
  --tags--marengo-bg-base: #53CCF1;
  --tags--marengo-bg-hover: #86DEF9;
  --tags--marina: #2A376C;
  --tags--marina-bg-active: #D3E2FF;
  --tags--marina-bg-base: #7AA7FF;
  --tags--marina-bg-hover: #A6C5FF;
  --tags--purple: #41366B;
  --tags--purple-bg-active: #E9E3FB;
  --tags--purple-bg-base: #BDABF7;
  --tags--purple-bg-hover: #D4C8F9;
  --tags--violet: #60315A;
  --tags--violet-bg-active: #FBDDF3;
  --tags--violet-bg-base: #EA98D8;
  --tags--violet-bg-hover: #F0BBE5;
  --tagsoutlined--neutral: #F7F7F8;
  --tagsoutlined--neutral-bg-active: #3C3D3E;
  --tagsoutlined--neutral-bg-base: #2D2D2F;
  --tagsoutlined--neutral-bg-hover: #343537;
  --tagsoutlined--neutral-border: #7E7F83;
  --tagsoutlined--grey: #F7F7F8;
  --tagsoutlined--grey-bg-active: #606163;
  --tagsoutlined--grey-bg-base: #3C3D3E;
  --tagsoutlined--grey-bg-hover: #464749;
  --tagsoutlined--grey-border: #A3A4A6;
  --tagsoutlined--red: #FFE1DF;
  --tagsoutlined--red-bg-active: #B21A35;
  --tagsoutlined--red-bg-base: #4D2129;
  --tagsoutlined--red-bg-hover: #6F2432;
  --tagsoutlined--red-border: #DB3545;
  --tagsoutlined--orange: #FFE7D9;
  --tagsoutlined--orange-bg-active: #A63B29;
  --tagsoutlined--orange-bg-base: #48251F;
  --tagsoutlined--orange-bg-hover: #6D3127;
  --tagsoutlined--orange-border: #D15138;
  --tagsoutlined--yellow: #FFF1D5;
  --tagsoutlined--yellow-bg-active: #9F6712;
  --tagsoutlined--yellow-bg-base: #382E1B;
  --tagsoutlined--yellow-bg-hover: #554123;
  --tagsoutlined--yellow-border: #D0900E;
  --tagsoutlined--grass: #E1F5D7;
  --tagsoutlined--grass-bg-active: #467A42;
  --tagsoutlined--grass-bg-base: #1C351C;
  --tagsoutlined--grass-bg-hover: #2C472A;
  --tagsoutlined--grass-border: #5B9E55;
  --tagsoutlined--emerald: #C0F0E7;
  --tagsoutlined--emerald-bg-active: #06675B;
  --tagsoutlined--emerald-bg-base: #193530;
  --tagsoutlined--emerald-bg-hover: #184640;
  --tagsoutlined--emerald-border: #088572;
  --tagsoutlined--marengo: #C3F0FD;
  --tagsoutlined--marengo-bg-active: #06638D;
  --tagsoutlined--marengo-bg-base: #1D323D;
  --tagsoutlined--marengo-bg-hover: #1A4458;
  --tagsoutlined--marengo-border: #037FB5;
  --tagsoutlined--marina: #D3E2FF;
  --tagsoutlined--marina-bg-active: #293D9A;
  --tagsoutlined--marina-bg-base: #252E50;
  --tagsoutlined--marina-bg-hover: #2A376C;
  --tagsoutlined--marina-border: #394DBF;
  --tagsoutlined--purple: #E9E3FB;
  --tagsoutlined--purple-bg-active: #554590;
  --tagsoutlined--purple-bg-base: #322A4E;
  --tagsoutlined--purple-bg-hover: #41366B;
  --tagsoutlined--purple-border: #725CB6;
  --tagsoutlined--violet: #FBDDF3;
  --tagsoutlined--violet-bg-active: #89307E;
  --tagsoutlined--violet-bg-base: #432540;
  --tagsoutlined--violet-bg-hover: #60315A;
  --tagsoutlined--violet-border: #B03D9D;
}
