.divider {
  padding: 0;
  display: flex;

  &.horizontal {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 1px;
    min-height: 1px;
  }
  &.vertical {
    margin-left: 0;
    margin-right: 0;
    width: 1px;
    min-width: 1px;
  }

  &.bold {
    background: var(--border--neutral--bold);
  }
  &.light {
    background: var(--border--neutral--medium);
  }
  &.onLightStatic {
    background: var(--border--neutral--bold_overlay_static);
  }
  &.inverted {
    background: var(--border--neutral--on_dark_overlay);
  }
}
