.infoModal.hidden {
    display: none;
}

.infoModal {
    position: fixed;
    inset: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}

.modalContent {
    font-family: sans-serif;
}

.modalContent svg {
    cursor: pointer;
}

.header {
    display: grid;
    grid-template-columns: 1fr 40px;
    align-items: center;
}

.body {
    display: grid;
    grid-template-columns: 100px 1fr;
}

.usage {
    margin-top: 10px;
}

.copyBlock{
    margin-top: 10px;
}

.propertiesItem {
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
}
