@use '../../design-system/tokens/typography.module.scss';

@mixin apply-colors($mode) {
  background-color: var(--text_diff--background--#{$mode});
  color: var(--text_diff--text--#{$mode});
}

.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 2px 8px;
}

.text {
  display: flex;
  max-width: max-content;
  padding: 0 4px;
  border-radius: 2px;
}

.text.new {
  text-decoration: none;
  @include apply-colors(new);
}

.text.old {
  text-decoration: line-through;
  @include apply-colors(old);
}
