/*! This file was created automatically. */
/*! Use updateColors gulp task if you need to update colors. */


:root {
  --color--neutral_0: #FFFFFFFF;
  --color--neutral_50: #F6F7F9FF;
  --color--neutral_100: #F3F4F6FF;
  --color--neutral_150: #EDEFF2FF;
  --color--neutral_200: #E4E7ECFF;
  --color--neutral_250: #DCDFE5FF;
  --color--neutral_300: #D1D5DBFF;
  --color--neutral_350: #BAC0C9FF;
  --color--neutral_400: #959CA7FF;
  --color--neutral_450: #818792FF;
  --color--neutral_500: #727883FF;
  --color--neutral_550: #646973FF;
  --color--neutral_600: #555961FF;
  --color--neutral_650: #474B51FF;
  --color--neutral_700: #3E4146FF;
  --color--neutral_750: #35373BFF;
  --color--neutral_800: #303236FF;
  --color--neutral_850: #2B2D31FF;
  --color--neutral_900: #1D1E20FF;
  --color--neutral_950: #131416FF;
  --color--neutral_1000: #000000FF;
  --color--neutral_0_transparent: #00000000;
  --color--neutral_100_transparent: #071E460D;
  --color--neutral_150_transparent: #01205612;
  --color--neutral_200_transparent: #1626411C;
  --color--neutral_250_transparent: #19284326;
  --color--neutral_300_transparent: #17284533;
  --color--neutral_350_transparent: #1124464A;
  --color--neutral_400_transparent: #0E1E3970;
  --color--neutral_450_transparent: #1822358A;
  --color--neutral_500_transparent: #1822359C;
  --color--neutral_550_transparent: #18202FAB;
  --color--neutral_600_transparent: #0B0C0FC4;
  --color--neutral_700_transparent: #0B0C0FD1;
  --color--neutral_800_transparent: #0C0E13D9;
  --color--neutral_0_inverted_transparent: #FFFFFF00;
  --color--neutral_50_inverted_transparent: #FBFCFEFA;
  --color--neutral_100_inverted_transparent: #F7F9FDF7;
  --color--neutral_150_inverted_transparent: #F8F9FCF2;
  --color--neutral_200_inverted_transparent: #F3F6FCED;
  --color--neutral_300_inverted_transparent: #EEF3FBDB;
  --color--neutral_450_inverted_transparent: #E0E9FB85;
  --color--neutral_500_inverted_transparent: #D2DEF478;
  --color--neutral_550_inverted_transparent: #DEE7FD5E;
  --color--neutral_600_inverted_transparent: #D8E6FD38;
  --color--neutral_650_inverted_transparent: #D2E0F32E;
  --color--neutral_700_inverted_transparent: #D9E2F221;
  --color--neutral_750_inverted_transparent: #E2EAF81A;
  --color--neutral_800_inverted_transparent: #F9F9FB12;
  --color--red_50: #FDEBEBFF;
  --color--red_100: #FFDFDEFF;
  --color--red_200: #FEC0BEFF;
  --color--red_300: #FD9896FF;
  --color--red_400: #FC7473FF;
  --color--red_500: #EA152AFF;
  --color--red_600: #C7142DFF;
  --color--red_700: #951628FF;
  --color--red_800: #650D18FF;
  --color--red_900: #470F13FF;
  --color--orange_50: #FEEFDCFF;
  --color--orange_100: #FFE3BFFF;
  --color--orange_200: #FFC484FF;
  --color--orange_300: #FEA251FF;
  --color--orange_400: #F97316FF;
  --color--orange_500: #D24704FF;
  --color--orange_600: #B83B03FF;
  --color--orange_700: #8B2E02FF;
  --color--orange_800: #602102FF;
  --color--orange_900: #452302FF;
  --color--yellow_50: #FDF8D9FF;
  --color--yellow_100: #FDEEA8FF;
  --color--yellow_200: #FFE070FF;
  --color--yellow_300: #FFD339FF;
  --color--yellow_400: #F7C105FF;
  --color--yellow_500: #F6AF09FF;
  --color--yellow_600: #DA9201FF;
  --color--yellow_700: #854B00FF;
  --color--yellow_800: #53360EFF;
  --color--yellow_900: #3A2609FF;
  --color--grass_50: #EEF9ECFF;
  --color--grass_100: #CDF0C8FF;
  --color--grass_200: #A6DBA0FF;
  --color--grass_300: #82C57AFF;
  --color--grass_400: #5DAD55FF;
  --color--grass_500: #19860EFF;
  --color--grass_600: #107907FF;
  --color--grass_700: #145D0EFF;
  --color--grass_800: #074003FF;
  --color--grass_900: #0A2E08FF;
  --color--emerald_50: #DFF8F3FF;
  --color--emerald_100: #C9F6ECFF;
  --color--emerald_200: #93D9CCFF;
  --color--emerald_300: #4DB9A8FF;
  --color--emerald_400: #1DA189FF;
  --color--emerald_500: #1B8370FF;
  --color--emerald_600: #04715FFF;
  --color--emerald_700: #195E51FF;
  --color--emerald_800: #0A453AFF;
  --color--emerald_900: #042C24FF;
  --color--marengo_50: #E4F6FDFF;
  --color--marengo_100: #C4EFFCFF;
  --color--marengo_200: #8DDAF2FF;
  --color--marengo_300: #48C0E5FF;
  --color--marengo_400: #1FABD6FF;
  --color--marengo_500: #137AAAFF;
  --color--marengo_600: #006C94FF;
  --color--marengo_700: #035C77FF;
  --color--marengo_800: #034255FF;
  --color--marengo_900: #09303CFF;
  --color--coldgrey_50: #F0F6FCFF;
  --color--coldgrey_100: #D9E6F5FF;
  --color--coldgrey_200: #B9D0EBFF;
  --color--coldgrey_300: #93B8E0FF;
  --color--coldgrey_400: #6BA0D7FF;
  --color--coldgrey_500: #4879AFFF;
  --color--coldgrey_600: #456A94FF;
  --color--coldgrey_700: #345273FF;
  --color--coldgrey_800: #25384EFF;
  --color--coldgrey_900: #192A3CFF;
  --color--marina_50: #EEF2FCFF;
  --color--marina_100: #DBE6FEFF;
  --color--marina_200: #B8CEFDFF;
  --color--marina_300: #94B4FDFF;
  --color--marina_400: #6E98FDFF;
  --color--marina_500: #4269E7FF;
  --color--marina_600: #335EDDFF;
  --color--marina_700: #2241B0FF;
  --color--marina_800: #152E7FFF;
  --color--marina_900: #102046FF;
  --color--purple_50: #F0EEFAFF;
  --color--purple_100: #E8E4FDFF;
  --color--purple_200: #CFC8F9FF;
  --color--purple_300: #B9ABF7FF;
  --color--purple_400: #A28EEFFF;
  --color--purple_500: #825FDEFF;
  --color--purple_600: #7642E1FF;
  --color--purple_700: #5A35ADFF;
  --color--purple_800: #3D2575FF;
  --color--purple_900: #2C1B55FF;
  --color--violet_50: #FEE9F8FF;
  --color--violet_100: #FBDEF3FF;
  --color--violet_200: #F2BFE4FF;
  --color--violet_300: #ED9BD9FF;
  --color--violet_400: #E473CCFF;
  --color--violet_500: #C33DAAFF;
  --color--violet_600: #AE2D98FF;
  --color--violet_700: #881E77FF;
  --color--violet_800: #5D1850FF;
  --color--violet_900: #420F39FF;
  --color--kaspersky_green_50: #EFFFFCFF;
  --color--kaspersky_green_100: #9DFFEFFF;
  --color--kaspersky_green_200: #3DE8CAFF;
  --color--kaspersky_green_300: #29CCB1FF;
  --color--kaspersky_green_600: #00A88EFF;
  --color--kaspersky_green_800: #124E47FF;
  --color--kaspersky_green_50_0: #EFFFFC00;
  --color--kaspersky_green_100_0: #9DFFEF00;
  --color--kaspersky_green_200_0: #3DE8CA00;
  --color--kaspersky_green_300_0: #29CCB100;
  --color--kaspersky_green_600_0: #00A88E00;
  --color--kaspersky_green_800_0: #124E4700;
}

:root,
.theme-light,
.hexa-ui-light-theme {
  --common--accent--enabled: var(--color--marina_500);
  --common--accent--hover: var(--color--marina_600);
  --common--accent--active: var(--color--marina_700);
  --common--accent_muted--enabled: var(--color--marina_400);
  --common--accent_muted--hover: var(--color--marina_500);
  --common--accent_muted--active: var(--color--marina_600);
  --common--danger--enabled: var(--color--red_500);
  --common--danger--hover: var(--color--red_600);
  --common--danger--active: var(--color--red_700);
  --common--success--enabled: var(--color--emerald_500);
  --common--success--hover: var(--color--emerald_600);
  --common--success--active: var(--color--emerald_700);
  --common--warning--enabled: var(--color--yellow_500);
  --common--warning--hover: var(--color--yellow_600);
  --common--warning--active: var(--color--yellow_700);
  --common--info--enabled: var(--color--coldgrey_500);
  --common--info--hover: var(--color--coldgrey_600);
  --common--info--active: var(--color--coldgrey_700);
  --common--grass--enabled: var(--color--grass_500);
  --common--grass--hover: var(--color--grass_600);
  --common--grass--active: var(--color--grass_700);
  --common--marengo--enabled: var(--color--marengo_500);
  --common--marengo--hover: var(--color--marengo_600);
  --common--marengo--active: var(--color--marengo_700);
  --common--marina--enabled: var(--color--marina_500);
  --common--marina--hover: var(--color--marina_600);
  --common--marina--active: var(--color--marina_700);
  --common--orange--enabled: var(--color--orange_500);
  --common--orange--hover: var(--color--orange_600);
  --common--orange--active: var(--color--orange_700);
  --common--purple--enabled: var(--color--purple_500);
  --common--purple--hover: var(--color--purple_600);
  --common--purple--active: var(--color--purple_700);
  --common--violet--enabled: var(--color--violet_500);
  --common--violet--hover: var(--color--violet_600);
  --common--violet--active: var(--color--violet_700);
  --bg--neutral--level_0: var(--color--neutral_0);
  --bg--neutral--level_0_hover: var(--color--neutral_50);
  --bg--neutral--level_0_active: var(--color--neutral_100);
  --bg--neutral--level_1: var(--color--neutral_50);
  --bg--neutral--level_1_hover: var(--color--neutral_100);
  --bg--neutral--level_1_active: var(--color--neutral_150);
  --bg--neutral--level_2: var(--color--neutral_100);
  --bg--neutral--level_2_hover: var(--color--neutral_150);
  --bg--neutral--level_2_active: var(--color--neutral_200);
  --bg--neutral--level_3: var(--color--neutral_200);
  --bg--neutral--level_3_hover: var(--color--neutral_250);
  --bg--neutral--level_3_active: var(--color--neutral_300);
  --bg--neutral--level_4: var(--color--neutral_300);
  --bg--neutral--level_4_hover: var(--color--neutral_350);
  --bg--neutral--level_4_active: var(--color--neutral_400);
  --bg--neutral--level_5: var(--color--neutral_400);
  --bg--neutral--level_5_hover: var(--color--neutral_450);
  --bg--neutral--level_5_active: var(--color--neutral_500);
  --bg--neutral--disabled: var(--color--neutral_100_transparent);
  --bg--neutral--inverted: var(--color--neutral_900);
  --bg--neutral--menu: var(--color--neutral_50);
  --bg--neutral_transparent--level_1: var(--color--neutral_100_transparent);
  --bg--neutral_transparent--level_2: var(--color--neutral_200_transparent);
  --bg--neutral_transparent--level_3: var(--color--neutral_300_transparent);
  --bg--neutral_transparent--level_4: var(--color--neutral_450_transparent);
  --bg--neutral_transparent--level_5: var(--color--neutral_450_transparent);
  --bg--neutral_overlay--inverted: var(--color--neutral_0);
  --bg--neutral_overlay--muted: var(--color--neutral_500);
  --bg--accent_subtle--enabled: var(--color--marina_50);
  --bg--accent_subtle--hover: var(--color--marina_100);
  --bg--accent_subtle--active: var(--color--marina_200);
  --bg--accent_subtle_level_1--enabled: var(--color--marina_100);
  --bg--accent_subtle_level_1--hover: var(--color--marina_200);
  --bg--accent_subtle_level_1--active: var(--color--marina_300);
  --bg--danger_subtle--enabled: var(--color--red_50);
  --bg--danger_subtle--hover: var(--color--red_100);
  --bg--danger_subtle--active: var(--color--red_200);
  --bg--danger_subtle_level_1--enabled: var(--color--red_100);
  --bg--danger_subtle_level_1--hover: var(--color--red_200);
  --bg--danger_subtle_level_1--active: var(--color--red_300);
  --bg--success_subtle--enabled: var(--color--emerald_50);
  --bg--success_subtle--hover: var(--color--emerald_100);
  --bg--success_subtle--active: var(--color--emerald_200);
  --bg--success_subtle_level_1--enabled: var(--color--emerald_100);
  --bg--success_subtle_level_1--hover: var(--color--emerald_200);
  --bg--success_subtle_level_1--active: var(--color--emerald_300);
  --bg--warning_subtle--enabled: var(--color--yellow_50);
  --bg--warning_subtle--hover: var(--color--yellow_100);
  --bg--warning_subtle--active: var(--color--yellow_200);
  --bg--info_subtle--enabled: var(--color--coldgrey_50);
  --bg--info_subtle--hover: var(--color--coldgrey_100);
  --bg--info_subtle--active: var(--color--coldgrey_200);
  --bg--grass_subtle--enabled: var(--color--grass_50);
  --bg--grass_subtle--hover: var(--color--grass_100);
  --bg--grass_subtle--active: var(--color--grass_200);
  --bg--marengo_subtle--enabled: var(--color--marengo_50);
  --bg--marengo_subtle--hover: var(--color--marengo_100);
  --bg--marengo_subtle--active: var(--color--marengo_200);
  --bg--marina_subtle--enabled: var(--color--marina_50);
  --bg--marina_subtle--hover: var(--color--marina_100);
  --bg--marina_subtle--active: var(--color--marina_200);
  --bg--orange_subtle--enabled: var(--color--orange_50);
  --bg--orange_subtle--hover: var(--color--orange_100);
  --bg--orange_subtle--active: var(--color--orange_200);
  --bg--purple_subtle--enabled: var(--color--purple_50);
  --bg--purple_subtle--hover: var(--color--purple_100);
  --bg--purple_subtle--active: var(--color--purple_200);
  --bg--violet_subtle--enabled: var(--color--violet_50);
  --bg--violet_subtle--hover: var(--color--violet_100);
  --bg--violet_subtle--active: var(--color--violet_200);
  --bg--base--enabled: var(--color--neutral_0);
  --bg--base--hover: var(--color--neutral_50);
  --bg--base--active: var(--color--neutral_100);
  --bg--dangersubtle--hover: var(--color--red_100);
  --bg--dangersubtle--active: var(--color--red_200);
  --bg--surface--disabled: var(--color--neutral_100_transparent);
  --fg--neutral--primary: var(--color--neutral_900);
  --fg--neutral--muted: var(--color--neutral_600);
  --fg--neutral--secondary: var(--color--neutral_450);
  --fg--neutral--secondary_hover: var(--color--neutral_500);
  --fg--neutral--secondary_active: var(--color--neutral_550);
  --fg--neutral--tertiary: var(--color--neutral_400);
  --fg--neutral--primary_static: var(--color--neutral_900);
  --fg--neutral--secondary_overlay: var(--color--neutral_450_transparent);
  --fg--neutral--secondary_overlay_static: var(--color--neutral_450_transparent);
  --fg--neutral--secondary_overlay_static_hover: var(--color--neutral_500_transparent);
  --fg--neutral--secondary_overlay_static_active: var(--color--neutral_550_transparent);
  --fg--neutral--tertiary_overlay_static: var(--color--neutral_400_transparent);
  --fg--neutral_inverted--primary: var(--color--neutral_0);
  --fg--neutral_inverted--primary_static: var(--color--neutral_0);
  --fg--neutral_inverted--secondary_overlay: var(--color--neutral_300_inverted_transparent);
  --fg--neutral_inverted--secondary_overlay_hover: var(--color--neutral_200_inverted_transparent);
  --fg--neutral_inverted--secondary_overlay_active: var(--color--neutral_150_inverted_transparent);
  --fg--neutralinverted--primary: var(--color--neutral_0);
  --fg--accent--bold: var(--color--marina_600);
  --fg--accent--muted: var(--color--marina_400);
  --fg--accent--inverted: var(--color--marina_100);
  --fg--danger--bold: var(--color--red_600);
  --fg--danger--muted: var(--color--red_400);
  --fg--danger--inverted: var(--color--red_100);
  --fg--success--bold: var(--color--emerald_600);
  --fg--success--muted: var(--color--emerald_400);
  --fg--success--inverted: var(--color--emerald_100);
  --fg--warning--bold: var(--color--yellow_700);
  --fg--warning--muted: var(--color--yellow_400);
  --fg--warning--inverted: var(--color--yellow_100);
  --fg--info--bold: var(--color--coldgrey_600);
  --fg--info--muted: var(--color--coldgrey_400);
  --fg--info--inverted: var(--color--coldgrey_100);
  --fg--grass--bold: var(--color--grass_600);
  --fg--grass--muted: var(--color--grass_400);
  --fg--grass--inverted: var(--color--grass_100);
  --fg--marengo--bold: var(--color--marengo_600);
  --fg--marengo--muted: var(--color--marengo_400);
  --fg--marengo--inverted: var(--color--marengo_100);
  --fg--marina--bold: var(--color--marina_600);
  --fg--marina--muted: var(--color--marina_400);
  --fg--marina--inverted: var(--color--marina_100);
  --fg--orange--bold: var(--color--orange_600);
  --fg--orange--muted: var(--color--orange_400);
  --fg--orange--inverted: var(--color--orange_100);
  --fg--purple--bold: var(--color--purple_600);
  --fg--purple--muted: var(--color--purple_400);
  --fg--purple--inverted: var(--color--purple_100);
  --fg--violet--bold: var(--color--violet_600);
  --fg--violet--muted: var(--color--violet_400);
  --fg--violet--inverted: var(--color--violet_100);
  --border--neutral--primary: var(--color--neutral_900);
  --border--neutral--bold: var(--color--neutral_350);
  --border--neutral--medium: var(--color--neutral_200);
  --border--neutral--inverted: var(--color--neutral_0);
  --border--neutral--inverted_static: var(--color--neutral_0);
  --border--neutral--on_dark_overlay: var(--color--neutral_450_inverted_transparent);
  --border--neutral--bold_overlay: var(--color--neutral_350_transparent);
  --border--neutral--bold_overlay_static: var(--color--neutral_350_transparent);
  --border--neutral--medium_overlay: var(--color--neutral_200_transparent);
  --border--neutral--subtle_overlay: var(--color--neutral_100_transparent);
  --border--color--accent: var(--color--marina_200);
  --border--color--accent_hover: var(--color--marina_300);
  --border--color--accent_active: var(--color--marina_400);
  --border--color--danger: var(--color--red_200);
  --border--color--success: var(--color--emerald_200);
  --border--color--warning: var(--color--yellow_200);
  --border--color--info: var(--color--coldgrey_200);
  --border--color--grass: var(--color--grass_200);
  --border--color--marengo: var(--color--marengo_200);
  --border--color--marina: var(--color--marina_200);
  --border--color--orange: var(--color--orange_200);
  --border--color--purple: var(--color--purple_200);
  --border--color--violet: var(--color--violet_200);
  --border--color--focus: var(--color--marina_300);
  --border--base--bold: var(--color--neutral_350);
  --border--base--subtle: var(--color--neutral_100_transparent);
  --brand--solid--kaspersky_green_50: var(--color--kaspersky_green_50);
  --brand--solid--kaspersky_green_100: var(--color--kaspersky_green_100);
  --brand--solid--kaspersky_green_200: var(--color--kaspersky_green_200);
  --brand--solid--kaspersky_green_300: var(--color--kaspersky_green_300);
  --brand--solid--kaspersky_green_600: var(--color--kaspersky_green_600);
  --brand--solid--kaspersky_green_800: var(--color--kaspersky_green_800);
  --brand--transparent--kaspersky_green_50_0: var(--color--kaspersky_green_50_0);
  --brand--transparent--kaspersky_green_100_0: var(--color--kaspersky_green_100_0);
  --brand--transparent--kaspersky_green_200_0: var(--color--kaspersky_green_200_0);
  --brand--transparent--kaspersky_green_300_0: var(--color--kaspersky_green_300_0);
  --brand--transparent--kaspersky_green_600_0: var(--color--kaspersky_green_600_0);
  --brand--transparent--kaspersky_green_800_0: var(--color--kaspersky_green_800_0);
  --elevation--shadow_contour: var(--color--neutral_450_transparent);
  --elevation--shadow_drop: var(--color--neutral_300_transparent);
}

.theme-dark,
.hexa-ui-dark-theme {
  --common--accent--enabled: var(--color--marina_400);
  --common--accent--hover: var(--color--marina_300);
  --common--accent--active: var(--color--marina_200);
  --common--accent_muted--enabled: var(--color--marina_500);
  --common--accent_muted--hover: var(--color--marina_600);
  --common--accent_muted--active: var(--color--marina_700);
  --common--danger--enabled: var(--color--red_400);
  --common--danger--hover: var(--color--red_300);
  --common--danger--active: var(--color--red_200);
  --common--success--enabled: var(--color--emerald_400);
  --common--success--hover: var(--color--emerald_300);
  --common--success--active: var(--color--emerald_200);
  --common--warning--enabled: var(--color--yellow_500);
  --common--warning--hover: var(--color--yellow_400);
  --common--warning--active: var(--color--yellow_300);
  --common--info--enabled: var(--color--coldgrey_400);
  --common--info--hover: var(--color--coldgrey_300);
  --common--info--active: var(--color--coldgrey_200);
  --common--grass--enabled: var(--color--grass_400);
  --common--grass--hover: var(--color--grass_300);
  --common--grass--active: var(--color--grass_200);
  --common--marengo--enabled: var(--color--marengo_400);
  --common--marengo--hover: var(--color--marengo_300);
  --common--marengo--active: var(--color--marengo_200);
  --common--marina--enabled: var(--color--marina_400);
  --common--marina--hover: var(--color--marina_300);
  --common--marina--active: var(--color--marina_200);
  --common--orange--enabled: var(--color--orange_400);
  --common--orange--hover: var(--color--orange_300);
  --common--orange--active: var(--color--orange_200);
  --common--purple--enabled: var(--color--purple_400);
  --common--purple--hover: var(--color--purple_300);
  --common--purple--active: var(--color--purple_200);
  --common--violet--enabled: var(--color--violet_400);
  --common--violet--hover: var(--color--violet_300);
  --common--violet--active: var(--color--violet_200);
  --bg--neutral--level_0: var(--color--neutral_900);
  --bg--neutral--level_0_hover: var(--color--neutral_850);
  --bg--neutral--level_0_active: var(--color--neutral_800);
  --bg--neutral--level_1: var(--color--neutral_850);
  --bg--neutral--level_1_hover: var(--color--neutral_800);
  --bg--neutral--level_1_active: var(--color--neutral_750);
  --bg--neutral--level_2: var(--color--neutral_800);
  --bg--neutral--level_2_hover: var(--color--neutral_750);
  --bg--neutral--level_2_active: var(--color--neutral_700);
  --bg--neutral--level_3: var(--color--neutral_700);
  --bg--neutral--level_3_hover: var(--color--neutral_650);
  --bg--neutral--level_3_active: var(--color--neutral_600);
  --bg--neutral--level_4: var(--color--neutral_600);
  --bg--neutral--level_4_hover: var(--color--neutral_550);
  --bg--neutral--level_4_active: var(--color--neutral_500);
  --bg--neutral--level_5: var(--color--neutral_500);
  --bg--neutral--level_5_hover: var(--color--neutral_450);
  --bg--neutral--level_5_active: var(--color--neutral_400);
  --bg--neutral--disabled: var(--color--neutral_800_inverted_transparent);
  --bg--neutral--inverted: var(--color--neutral_0);
  --bg--neutral--menu: var(--color--neutral_950);
  --bg--neutral_transparent--level_1: var(--color--neutral_800_inverted_transparent);
  --bg--neutral_transparent--level_2: var(--color--neutral_700_inverted_transparent);
  --bg--neutral_transparent--level_3: var(--color--neutral_600_inverted_transparent);
  --bg--neutral_transparent--level_4: var(--color--neutral_550_inverted_transparent);
  --bg--neutral_transparent--level_5: var(--color--neutral_450_inverted_transparent);
  --bg--neutral_overlay--inverted: var(--color--neutral_950);
  --bg--neutral_overlay--muted: var(--color--neutral_950);
  --bg--accent_subtle--enabled: var(--color--marina_900);
  --bg--accent_subtle--hover: var(--color--marina_800);
  --bg--accent_subtle--active: var(--color--marina_700);
  --bg--accent_subtle_level_1--enabled: var(--color--marina_800);
  --bg--accent_subtle_level_1--hover: var(--color--marina_700);
  --bg--accent_subtle_level_1--active: var(--color--marina_600);
  --bg--danger_subtle--enabled: var(--color--red_900);
  --bg--danger_subtle--hover: var(--color--red_800);
  --bg--danger_subtle--active: var(--color--red_700);
  --bg--danger_subtle_level_1--enabled: var(--color--red_800);
  --bg--danger_subtle_level_1--hover: var(--color--red_700);
  --bg--danger_subtle_level_1--active: var(--color--red_600);
  --bg--success_subtle--enabled: var(--color--emerald_900);
  --bg--success_subtle--hover: var(--color--emerald_800);
  --bg--success_subtle--active: var(--color--emerald_700);
  --bg--success_subtle_level_1--enabled: var(--color--emerald_800);
  --bg--success_subtle_level_1--hover: var(--color--emerald_700);
  --bg--success_subtle_level_1--active: var(--color--emerald_600);
  --bg--warning_subtle--enabled: var(--color--yellow_900);
  --bg--warning_subtle--hover: var(--color--yellow_800);
  --bg--warning_subtle--active: var(--color--yellow_700);
  --bg--info_subtle--enabled: var(--color--coldgrey_900);
  --bg--info_subtle--hover: var(--color--coldgrey_800);
  --bg--info_subtle--active: var(--color--coldgrey_700);
  --bg--grass_subtle--enabled: var(--color--grass_900);
  --bg--grass_subtle--hover: var(--color--grass_800);
  --bg--grass_subtle--active: var(--color--grass_700);
  --bg--marengo_subtle--enabled: var(--color--marengo_900);
  --bg--marengo_subtle--hover: var(--color--marengo_800);
  --bg--marengo_subtle--active: var(--color--marengo_700);
  --bg--marina_subtle--enabled: var(--color--marina_900);
  --bg--marina_subtle--hover: var(--color--marina_800);
  --bg--marina_subtle--active: var(--color--marina_700);
  --bg--orange_subtle--enabled: var(--color--orange_900);
  --bg--orange_subtle--hover: var(--color--orange_800);
  --bg--orange_subtle--active: var(--color--orange_700);
  --bg--purple_subtle--enabled: var(--color--purple_900);
  --bg--purple_subtle--hover: var(--color--purple_800);
  --bg--purple_subtle--active: var(--color--purple_700);
  --bg--violet_subtle--enabled: var(--color--violet_900);
  --bg--violet_subtle--hover: var(--color--violet_800);
  --bg--violet_subtle--active: var(--color--violet_700);
  --bg--base--enabled: var(--color--neutral_900);
  --bg--base--hover: var(--color--neutral_850);
  --bg--base--active: var(--color--neutral_800);
  --bg--dangersubtle--hover: var(--color--red_800);
  --bg--dangersubtle--active: var(--color--red_700);
  --bg--surface--disabled: var(--color--neutral_800_inverted_transparent);
  --fg--neutral--primary: var(--color--neutral_250);
  --fg--neutral--muted: var(--color--neutral_400);
  --fg--neutral--secondary: var(--color--neutral_450);
  --fg--neutral--secondary_hover: var(--color--neutral_400);
  --fg--neutral--secondary_active: var(--color--neutral_350);
  --fg--neutral--tertiary: var(--color--neutral_500);
  --fg--neutral--primary_static: var(--color--neutral_900);
  --fg--neutral--secondary_overlay: var(--color--neutral_450_inverted_transparent);
  --fg--neutral--secondary_overlay_static: var(--color--neutral_450_transparent);
  --fg--neutral--secondary_overlay_static_hover: var(--color--neutral_500_transparent);
  --fg--neutral--secondary_overlay_static_active: var(--color--neutral_550_transparent);
  --fg--neutral--tertiary_overlay_static: var(--color--neutral_400_transparent);
  --fg--neutral_inverted--primary: var(--color--neutral_900);
  --fg--neutral_inverted--primary_static: var(--color--neutral_0);
  --fg--neutral_inverted--secondary_overlay: var(--color--neutral_550_transparent);
  --fg--neutral_inverted--secondary_overlay_hover: var(--color--neutral_600_transparent);
  --fg--neutral_inverted--secondary_overlay_active: var(--color--neutral_700_transparent);
  --fg--neutralinverted--primary: var(--color--neutral_900);
  --fg--accent--bold: var(--color--marina_400);
  --fg--accent--muted: var(--color--marina_600);
  --fg--accent--inverted: var(--color--marina_800);
  --fg--danger--bold: var(--color--red_400);
  --fg--danger--muted: var(--color--red_600);
  --fg--danger--inverted: var(--color--red_800);
  --fg--success--bold: var(--color--emerald_400);
  --fg--success--muted: var(--color--emerald_600);
  --fg--success--inverted: var(--color--emerald_800);
  --fg--warning--bold: var(--color--yellow_400);
  --fg--warning--muted: var(--color--yellow_600);
  --fg--warning--inverted: var(--color--yellow_800);
  --fg--info--bold: var(--color--coldgrey_400);
  --fg--info--muted: var(--color--coldgrey_600);
  --fg--info--inverted: var(--color--coldgrey_800);
  --fg--grass--bold: var(--color--grass_400);
  --fg--grass--muted: var(--color--grass_600);
  --fg--grass--inverted: var(--color--grass_800);
  --fg--marengo--bold: var(--color--marengo_400);
  --fg--marengo--muted: var(--color--marengo_600);
  --fg--marengo--inverted: var(--color--marengo_800);
  --fg--marina--bold: var(--color--marina_400);
  --fg--marina--muted: var(--color--marina_600);
  --fg--marina--inverted: var(--color--marina_800);
  --fg--orange--bold: var(--color--orange_400);
  --fg--orange--muted: var(--color--orange_600);
  --fg--orange--inverted: var(--color--orange_800);
  --fg--purple--bold: var(--color--purple_400);
  --fg--purple--muted: var(--color--purple_600);
  --fg--purple--inverted: var(--color--purple_800);
  --fg--violet--bold: var(--color--violet_400);
  --fg--violet--muted: var(--color--violet_600);
  --fg--violet--inverted: var(--color--violet_800);
  --border--neutral--primary: var(--color--neutral_0);
  --border--neutral--bold: var(--color--neutral_550);
  --border--neutral--medium: var(--color--neutral_700);
  --border--neutral--inverted: var(--color--neutral_900);
  --border--neutral--inverted_static: var(--color--neutral_0);
  --border--neutral--on_dark_overlay: var(--color--neutral_350_transparent);
  --border--neutral--bold_overlay: var(--color--neutral_550_inverted_transparent);
  --border--neutral--bold_overlay_static: var(--color--neutral_350_transparent);
  --border--neutral--medium_overlay: var(--color--neutral_700_inverted_transparent);
  --border--neutral--subtle_overlay: var(--color--neutral_800_transparent);
  --border--color--accent: var(--color--marina_700);
  --border--color--accent_hover: var(--color--marina_600);
  --border--color--accent_active: var(--color--marina_500);
  --border--color--danger: var(--color--red_700);
  --border--color--success: var(--color--emerald_700);
  --border--color--warning: var(--color--yellow_700);
  --border--color--info: var(--color--coldgrey_700);
  --border--color--grass: var(--color--grass_700);
  --border--color--marengo: var(--color--marengo_700);
  --border--color--marina: var(--color--marina_700);
  --border--color--orange: var(--color--orange_700);
  --border--color--purple: var(--color--purple_700);
  --border--color--violet: var(--color--violet_700);
  --border--color--focus: var(--color--marina_600);
  --border--base--bold: var(--color--neutral_550);
  --border--base--subtle: var(--color--neutral_800_transparent);
  --brand--solid--kaspersky_green_50: var(--color--kaspersky_green_800);
  --brand--solid--kaspersky_green_100: var(--color--kaspersky_green_600);
  --brand--solid--kaspersky_green_200: var(--color--kaspersky_green_300);
  --brand--solid--kaspersky_green_300: var(--color--kaspersky_green_200);
  --brand--solid--kaspersky_green_600: var(--color--kaspersky_green_100);
  --brand--solid--kaspersky_green_800: var(--color--kaspersky_green_50);
  --brand--transparent--kaspersky_green_50_0: var(--color--kaspersky_green_800_0);
  --brand--transparent--kaspersky_green_100_0: var(--color--kaspersky_green_600_0);
  --brand--transparent--kaspersky_green_200_0: var(--color--kaspersky_green_300_0);
  --brand--transparent--kaspersky_green_300_0: var(--color--kaspersky_green_200_0);
  --brand--transparent--kaspersky_green_600_0: var(--color--kaspersky_green_100_0);
  --brand--transparent--kaspersky_green_800_0: var(--color--kaspersky_green_50_0);
  --elevation--shadow_contour: var(--color--neutral_450_inverted_transparent);
  --elevation--shadow_drop: var(--color--neutral_800_transparent);
}
:root {
  --modal-minwidth--desktop: 560px;
  --modal-minwidth--mobile: 312px;
  --modal-minwidth--tablet: 552px;
}
:root,
.theme-light,
.hexa-ui-light-theme {
  --background--global: var(--bg--neutral--level_0);
  --background--hover: var(--bg--neutral--level_0_hover);
  --background--section: var(--bg--neutral--level_2);
  --background--selected: var(--bg--accent_subtle--enabled);
  --border--outer: var(--border--neutral--bold_overlay);
  --foreground--danger: var(--common--danger--enabled);
  --foreground--disabled: var(--fg--neutral--tertiary);
  --foreground--link: var(--fg--accent--bold);
  --foreground--primary: var(--fg--neutral--primary);
  --foreground--secondary: var(--fg--neutral--secondary);
  --foreground--severity--severitylevel0: var(--fg--neutral--tertiary);
  --foreground--severity--severitylevel1: var(--fg--success--bold);
  --foreground--severity--severitylevel2: var(--fg--warning--muted);
  --foreground--severity--severitylevel3: var(--common--warning--enabled);
  --foreground--severity--severitylevel4: var(--fg--orange--muted);
  --foreground--severity--severitylevel5: var(--common--danger--enabled);
  --foreground--severity--severitylevel6: var(--fg--danger--bold);
  --foreground--status--statusgrass: var(--fg--grass--bold);
  --foreground--status--statusinfo: var(--common--info--enabled);
  --foreground--status--statusmarengo: var(--fg--marengo--muted);
  --foreground--status--statusneutral: var(--fg--neutral--tertiary);
  --foreground--status--statusorange: var(--fg--orange--muted);
  --foreground--status--statuspurple: var(--common--purple--enabled);
  --foreground--status--statusviolet: var(--common--violet--enabled);
  --foreground--success: var(--common--success--enabled);
  --foreground--warning: var(--common--warning--enabled);
  --hidden--ai--green: var(--brand--solid--kaspersky_green_300);
  --hidden--ai--green_0: var(--brand--transparent--kaspersky_green_300_0);
  --hidden--ai--marina: var(--common--accent--enabled);
  --hidden--ai--violet: var(--common--violet--enabled);
  --hidden--neutral--neutralprimary: var(--fg--neutral--primary);
  --hidden--neutral--neutralsecondary: var(--fg--neutral--secondary);
  --hidden--statusaccent: var(--common--accent--enabled);
  --hidden--statuscritical: var(--common--danger--enabled);
  --hidden--statuspositive: var(--common--success--enabled);
  --hidden--statuswarning: var(--common--warning--enabled);
  --terminal--black: var(--color--neutral_900);
  --terminal--blue: var(--color--marina_500);
  --terminal--brightblack: var(--color--neutral_750);
  --terminal--brightblue: var(--color--marina_400);
  --terminal--brightcyan: var(--color--marengo_400);
  --terminal--brightgreen: var(--color--grass_400);
  --terminal--brightmagenta: var(--color--violet_400);
  --terminal--brightred: var(--color--red_400);
  --terminal--brightwhite: var(--color--neutral_400);
  --terminal--brightyellow: var(--color--yellow_500);
  --terminal--cyan: var(--color--marengo_500);
  --terminal--green: var(--color--grass_500);
  --terminal--magenta: var(--color--violet_500);
  --terminal--red: var(--color--red_500);
  --terminal--white: var(--color--neutral_550);
  --terminal--yellow: var(--color--yellow_600);
}
.theme-dark,
.hexa-ui-dark-theme {
  --terminal--black: var(--color--neutral_0);
  --terminal--blue: var(--color--marina_400);
  --terminal--brightblack: var(--color--neutral_300);
  --terminal--brightblue: var(--color--marina_600);
  --terminal--brightcyan: var(--color--marengo_600);
  --terminal--brightgreen: var(--color--grass_600);
  --terminal--brightmagenta: var(--color--violet_600);
  --terminal--brightred: var(--color--red_600);
  --terminal--brightwhite: var(--color--neutral_600);
  --terminal--brightyellow: var(--color--yellow_600);
  --terminal--cyan: var(--color--marengo_400);
  --terminal--green: var(--color--grass_400);
  --terminal--magenta: var(--color--violet_400);
  --terminal--red: var(--color--red_400);
  --terminal--white: var(--color--neutral_450);
  --terminal--yellow: var(--color--yellow_500);
}

:root,
.theme-light,
.hexa-ui-light-theme {
  --axis--border--enabled: var(--color--neutral_350);
  --axis--text--enabled: var(--color--neutral_900);
  --chart--bar--border--regression: var(--color--neutral_900);
  --chart--bar--text--enabled: var(--color--neutral_900);
  --chart--base--monochrome--gradient_emerald--0: var(--color--emerald_100);
  --chart--base--monochrome--gradient_emerald--100: var(--color--emerald_700);
  --chart--base--monochrome--gradient_emerald--50: var(--color--emerald_400);
  --chart--base--monochrome--gradient_marina--0: var(--color--marina_100);
  --chart--base--monochrome--gradient_marina--100: var(--color--marina_700);
  --chart--base--monochrome--gradient_marina--50: var(--color--marina_400);
  --chart--base--monochrome--gradient_neutral--0: var(--color--neutral_550);
  --chart--base--monochrome--gradient_neutral--100: var(--color--neutral_100);
  --chart--base--monochrome--gradient_neutral--50: var(--color--neutral_250);
  --chart--base--monochrome--gradient_purple--0: var(--color--purple_100);
  --chart--base--monochrome--gradient_purple--100: var(--color--purple_700);
  --chart--base--monochrome--gradient_purple--50: var(--color--purple_400);
  --chart--base--series--coldgrey--primary--300: var(--color--coldgrey_300);
  --chart--base--series--coldgrey--primary--400: var(--color--coldgrey_400);
  --chart--base--series--coldgrey--primary--500: var(--color--coldgrey_500);
  --chart--base--series--coldgrey--primary--600: var(--color--coldgrey_600);
  --chart--base--series--coldgrey--primary--700: var(--color--coldgrey_700);
  --chart--base--series--coldgrey--subtle--100: var(--color--coldgrey_100);
  --chart--base--series--coldgrey--subtle--200: var(--color--coldgrey_200);
  --chart--base--series--coldgrey--subtle--50: var(--color--coldgrey_50);
  --chart--base--series--emerald--primary--300: var(--color--emerald_300);
  --chart--base--series--emerald--primary--400: var(--color--emerald_400);
  --chart--base--series--emerald--primary--500: var(--color--emerald_500);
  --chart--base--series--emerald--primary--600: var(--color--emerald_600);
  --chart--base--series--emerald--primary--700: var(--color--emerald_700);
  --chart--base--series--emerald--subtle--100: var(--color--emerald_100);
  --chart--base--series--emerald--subtle--200: var(--color--emerald_200);
  --chart--base--series--emerald--subtle--50: var(--color--emerald_50);
  --chart--base--series--grass--primary--300: var(--color--grass_300);
  --chart--base--series--grass--primary--400: var(--color--grass_400);
  --chart--base--series--grass--primary--500: var(--color--grass_500);
  --chart--base--series--grass--primary--600: var(--color--grass_600);
  --chart--base--series--grass--primary--700: var(--color--grass_700);
  --chart--base--series--grass--subtle--100: var(--color--grass_100);
  --chart--base--series--grass--subtle--200: var(--color--grass_200);
  --chart--base--series--grass--subtle--50: var(--color--grass_50);
  --chart--base--series--marengo--primary--300: var(--color--marengo_300);
  --chart--base--series--marengo--primary--400: var(--color--marengo_400);
  --chart--base--series--marengo--primary--500: var(--color--marengo_500);
  --chart--base--series--marengo--primary--600: var(--color--marengo_600);
  --chart--base--series--marengo--primary--700: var(--color--marengo_700);
  --chart--base--series--marengo--subtle--100: var(--color--marengo_100);
  --chart--base--series--marengo--subtle--200: var(--color--marengo_200);
  --chart--base--series--marengo--subtle--50: var(--color--marengo_50);
  --chart--base--series--marina--primary--300: var(--color--marina_300);
  --chart--base--series--marina--primary--400: var(--color--marina_400);
  --chart--base--series--marina--primary--500: var(--color--marina_500);
  --chart--base--series--marina--primary--600: var(--color--marina_600);
  --chart--base--series--marina--primary--700: var(--color--marina_700);
  --chart--base--series--marina--subtle--100: var(--color--marina_100);
  --chart--base--series--marina--subtle--200: var(--color--marina_200);
  --chart--base--series--marina--subtle--50: var(--color--marina_50);
  --chart--base--series--neutral--primary--300: var(--color--neutral_300);
  --chart--base--series--neutral--primary--400: var(--color--neutral_400);
  --chart--base--series--neutral--primary--500: var(--color--neutral_550);
  --chart--base--series--neutral--primary--600: var(--color--neutral_650);
  --chart--base--series--neutral--primary--700: var(--color--neutral_750);
  --chart--base--series--neutral--subtle--100: var(--color--neutral_100);
  --chart--base--series--neutral--subtle--200: var(--color--neutral_200);
  --chart--base--series--neutral--subtle--50: var(--color--neutral_50);
  --chart--base--series--orange--primary--300: var(--color--orange_300);
  --chart--base--series--orange--primary--400: var(--color--orange_400);
  --chart--base--series--orange--primary--500: var(--color--orange_500);
  --chart--base--series--orange--primary--600: var(--color--orange_600);
  --chart--base--series--orange--primary--700: var(--color--orange_700);
  --chart--base--series--orange--subtle--100: var(--color--orange_100);
  --chart--base--series--orange--subtle--200: var(--color--orange_200);
  --chart--base--series--orange--subtle--50: var(--color--orange_50);
  --chart--base--series--purple--primary--300: var(--color--purple_300);
  --chart--base--series--purple--primary--400: var(--color--purple_400);
  --chart--base--series--purple--primary--500: var(--color--purple_500);
  --chart--base--series--purple--primary--600: var(--color--purple_600);
  --chart--base--series--purple--primary--700: var(--color--purple_700);
  --chart--base--series--purple--subtle--100: var(--color--purple_100);
  --chart--base--series--purple--subtle--200: var(--color--purple_200);
  --chart--base--series--purple--subtle--50: var(--color--purple_50);
  --chart--base--series--red--primary--300: var(--color--red_300);
  --chart--base--series--red--primary--400: var(--color--red_400);
  --chart--base--series--red--primary--500: var(--color--red_500);
  --chart--base--series--red--primary--600: var(--color--red_600);
  --chart--base--series--red--primary--700: var(--color--red_700);
  --chart--base--series--red--subtle--100: var(--color--red_100);
  --chart--base--series--red--subtle--200: var(--color--red_200);
  --chart--base--series--red--subtle--50: var(--color--red_50);
  --chart--base--series--violet--primary--300: var(--color--violet_300);
  --chart--base--series--violet--primary--400: var(--color--violet_400);
  --chart--base--series--violet--primary--500: var(--color--violet_500);
  --chart--base--series--violet--primary--600: var(--color--violet_600);
  --chart--base--series--violet--primary--700: var(--color--violet_700);
  --chart--base--series--violet--subtle--100: var(--color--violet_100);
  --chart--base--series--violet--subtle--200: var(--color--violet_200);
  --chart--base--series--violet--subtle--50: var(--color--violet_50);
  --chart--base--series--yellow--primary--300: var(--color--yellow_300);
  --chart--base--series--yellow--primary--400: var(--color--yellow_400);
  --chart--base--series--yellow--primary--500: var(--color--yellow_500);
  --chart--base--series--yellow--primary--600: var(--color--yellow_600);
  --chart--base--series--yellow--primary--700: var(--color--yellow_700);
  --chart--base--series--yellow--subtle--100: var(--color--yellow_100);
  --chart--base--series--yellow--subtle--200: var(--color--yellow_200);
  --chart--base--series--yellow--subtle--50: var(--color--yellow_50);
  --chart--base--status--primary--critical: var(--color--red_500);
  --chart--base--status--primary--high: var(--color--red_400);
  --chart--base--status--primary--in_incident: var(--color--purple_500);
  --chart--base--status--primary--in_progress: var(--color--marina_500);
  --chart--base--status--primary--info: var(--color--purple_500);
  --chart--base--status--primary--low: var(--color--neutral_450);
  --chart--base--status--primary--medium: var(--color--yellow_500);
  --chart--base--status--primary--new: var(--color--marengo_400);
  --chart--base--status--primary--not_active: var(--color--neutral_400);
  --chart--base--status--primary--positive: var(--color--emerald_500);
  --chart--base--status--primary--resolved: var(--color--coldgrey_400);
  --chart--base--status--primary--update: var(--color--violet_500);
  --chart--base--status--subtle--critical: var(--color--red_50);
  --chart--base--status--subtle--high: var(--color--red_50);
  --chart--base--status--subtle--in_incident: var(--color--purple_50);
  --chart--base--status--subtle--in_progress: var(--color--marina_50);
  --chart--base--status--subtle--info: var(--color--purple_50);
  --chart--base--status--subtle--low: var(--color--neutral_50);
  --chart--base--status--subtle--medium: var(--color--yellow_50);
  --chart--base--status--subtle--new: var(--color--marengo_50);
  --chart--base--status--subtle--not_active: var(--color--neutral_50);
  --chart--base--status--subtle--positive: var(--color--emerald_50);
  --chart--base--status--subtle--resolved: var(--color--coldgrey_50);
  --chart--base--status--subtle--update: var(--color--violet_50);
  --chart--counter--text--primary: var(--color--neutral_900);
  --chart--counter--text--secondary: var(--color--neutral_450);
  --chart--counter_indicator--icon--critical: var(--color--red_500);
  --chart--counter_indicator--icon--neutral: var(--color--neutral_450);
  --chart--counter_indicator--icon--positive: var(--color--emerald_500);
  --chart--counter_indicator--text--critical: var(--color--red_500);
  --chart--counter_indicator--text--neutral: var(--color--neutral_450);
  --chart--counter_indicator--text--positive: var(--color--emerald_500);
  --chart--line--bg--gradient_stop: var(--color--neutral_0_inverted_transparent);
  --chart--line--border--regression: var(--color--neutral_900);
  --chart--overlay: var(--color--neutral_0);
  --chart--pie--bg--other: var(--color--neutral_450);
  --chart--pie--border--enabled: var(--color--neutral_0);
  --chart--pie_total--text--description--enabled: var(--color--neutral_450);
  --chart--pie_total--text--value--enabled: var(--color--neutral_900);
  --chart--segmented_level_bar--bg--graph_indncator--base: var(--color--neutral_900);
  --chart--segmented_level_bar--bg--scale--enabled: var(--color--neutral_0);
  --chart--segmented_level_bar--border--graph_indncator--enabled: var(--color--neutral_900);
  --chart--segmented_level_bar--text--graph_indncator--enabled: var(--color--neutral_900);
  --chart--segmented_level_bar--text--scale--enabled: var(--color--neutral_900);
  --chart--speed--icon--enabled: var(--color--neutral_900);
  --chart--speed--scale--enabled: var(--color--neutral_900);
  --chart--speed--text--enabled: var(--color--neutral_900);
  --legend--description: var(--color--neutral_450);
  --legend--title: var(--color--neutral_900);
  --legend_item--bg--active: var(--color--neutral_100);
  --legend_item--bg--active_selected: var(--color--marina_300);
  --legend_item--bg--enabled_selected: var(--color--marina_100);
  --legend_item--bg--hover: var(--color--neutral_50);
  --legend_item--bg--hover_selected: var(--color--marina_200);
  --legend_item--icon--enabled: var(--color--neutral_900);
  --legend_item--text--primary: var(--color--neutral_900);
  --legend_item--text--secondary: var(--color--neutral_450);
  --widget--bg--enabled: var(--color--neutral_0);
  --widget--bg--selected: var(--color--marina_50);
  --widget--border--enabled: var(--color--neutral_300);
  --widget--border--selected: var(--color--marina_500);
  --widget_header--text--active: var(--color--marina_700);
  --widget_header--text--description: var(--color--neutral_450);
  --widget_header--text--enabled: var(--color--neutral_950);
  --widget_header--text--hover: var(--color--marina_600);
  --widget_image--bg--enabled: var(--color--neutral_100);
  --widget_image--border--focus: var(--color--neutral_250);
  --widget_image--icon--enabled: var(--color--neutral_450);
  --widget_image--text--enabled: var(--color--neutral_450);
  --widget_text--bg--enabled: var(--color--neutral_0);
  --widget_text--bg--enabled_code: var(--color--neutral_400);
  --widget_text--bg--hover: var(--color--neutral_0);
  --widget_text--border--enabled: var(--color--neutral_350);
  --widget_text--border--hover: var(--color--marina_400);
  --widget_text--icon--enabled: var(--color--neutral_450);
  --widget_text--text--enabled--placeholder: var(--color--neutral_400);
  --widget_text--text--enabled--value: var(--color--neutral_900);
}
.theme-dark,
.hexa-ui-dark-theme {
  --axis--border--enabled: var(--color--neutral_600);
  --axis--text--enabled: var(--color--neutral_200);
  --chart--bar--border--regression: var(--color--neutral_0);
  --chart--bar--text--enabled: var(--color--neutral_250);
  --chart--base--monochrome--gradient_emerald--0: var(--color--emerald_800);
  --chart--base--monochrome--gradient_emerald--100: var(--color--emerald_200);
  --chart--base--monochrome--gradient_emerald--50: var(--color--emerald_500);
  --chart--base--monochrome--gradient_marina--0: var(--color--marina_800);
  --chart--base--monochrome--gradient_marina--100: var(--color--marina_200);
  --chart--base--monochrome--gradient_marina--50: var(--color--marina_500);
  --chart--base--monochrome--gradient_neutral--0: var(--color--neutral_200);
  --chart--base--monochrome--gradient_neutral--100: var(--color--neutral_650);
  --chart--base--monochrome--gradient_neutral--50: var(--color--neutral_400);
  --chart--base--monochrome--gradient_purple--0: var(--color--purple_800);
  --chart--base--monochrome--gradient_purple--100: var(--color--purple_200);
  --chart--base--monochrome--gradient_purple--50: var(--color--purple_500);
  --chart--base--series--coldgrey--primary--300: var(--color--coldgrey_600);
  --chart--base--series--coldgrey--primary--400: var(--color--coldgrey_500);
  --chart--base--series--coldgrey--primary--500: var(--color--coldgrey_400);
  --chart--base--series--coldgrey--primary--600: var(--color--coldgrey_300);
  --chart--base--series--coldgrey--primary--700: var(--color--coldgrey_200);
  --chart--base--series--coldgrey--subtle--100: var(--color--coldgrey_800);
  --chart--base--series--coldgrey--subtle--200: var(--color--coldgrey_700);
  --chart--base--series--coldgrey--subtle--50: var(--color--coldgrey_900);
  --chart--base--series--emerald--primary--300: var(--color--emerald_600);
  --chart--base--series--emerald--primary--400: var(--color--emerald_500);
  --chart--base--series--emerald--primary--500: var(--color--emerald_400);
  --chart--base--series--emerald--primary--600: var(--color--emerald_300);
  --chart--base--series--emerald--primary--700: var(--color--emerald_200);
  --chart--base--series--emerald--subtle--100: var(--color--emerald_800);
  --chart--base--series--emerald--subtle--200: var(--color--emerald_700);
  --chart--base--series--emerald--subtle--50: var(--color--emerald_900);
  --chart--base--series--grass--primary--300: var(--color--grass_600);
  --chart--base--series--grass--primary--400: var(--color--grass_500);
  --chart--base--series--grass--primary--500: var(--color--grass_400);
  --chart--base--series--grass--primary--600: var(--color--grass_300);
  --chart--base--series--grass--primary--700: var(--color--grass_200);
  --chart--base--series--grass--subtle--100: var(--color--grass_800);
  --chart--base--series--grass--subtle--200: var(--color--grass_700);
  --chart--base--series--grass--subtle--50: var(--color--grass_900);
  --chart--base--series--marengo--primary--300: var(--color--marengo_600);
  --chart--base--series--marengo--primary--400: var(--color--marengo_500);
  --chart--base--series--marengo--primary--500: var(--color--marengo_400);
  --chart--base--series--marengo--primary--600: var(--color--marengo_300);
  --chart--base--series--marengo--primary--700: var(--color--marengo_200);
  --chart--base--series--marengo--subtle--100: var(--color--marengo_800);
  --chart--base--series--marengo--subtle--200: var(--color--marengo_700);
  --chart--base--series--marengo--subtle--50: var(--color--marengo_900);
  --chart--base--series--marina--primary--300: var(--color--marina_600);
  --chart--base--series--marina--primary--400: var(--color--marina_500);
  --chart--base--series--marina--primary--500: var(--color--marina_400);
  --chart--base--series--marina--primary--600: var(--color--marina_300);
  --chart--base--series--marina--primary--700: var(--color--marina_200);
  --chart--base--series--marina--subtle--100: var(--color--marina_800);
  --chart--base--series--marina--subtle--200: var(--color--marina_700);
  --chart--base--series--marina--subtle--50: var(--color--marina_900);
  --chart--base--series--neutral--primary--300: var(--color--neutral_550);
  --chart--base--series--neutral--primary--400: var(--color--neutral_400);
  --chart--base--series--neutral--primary--500: var(--color--neutral_300);
  --chart--base--series--neutral--primary--600: var(--color--neutral_200);
  --chart--base--series--neutral--primary--700: var(--color--neutral_100);
  --chart--base--series--neutral--subtle--100: var(--color--neutral_750);
  --chart--base--series--neutral--subtle--200: var(--color--neutral_650);
  --chart--base--series--neutral--subtle--50: var(--color--neutral_850);
  --chart--base--series--orange--primary--300: var(--color--orange_600);
  --chart--base--series--orange--primary--400: var(--color--orange_500);
  --chart--base--series--orange--primary--500: var(--color--orange_400);
  --chart--base--series--orange--primary--600: var(--color--orange_300);
  --chart--base--series--orange--primary--700: var(--color--orange_200);
  --chart--base--series--orange--subtle--100: var(--color--orange_800);
  --chart--base--series--orange--subtle--200: var(--color--orange_700);
  --chart--base--series--orange--subtle--50: var(--color--orange_900);
  --chart--base--series--purple--primary--300: var(--color--purple_600);
  --chart--base--series--purple--primary--400: var(--color--purple_500);
  --chart--base--series--purple--primary--500: var(--color--purple_400);
  --chart--base--series--purple--primary--600: var(--color--purple_300);
  --chart--base--series--purple--primary--700: var(--color--purple_200);
  --chart--base--series--purple--subtle--100: var(--color--purple_800);
  --chart--base--series--purple--subtle--200: var(--color--purple_700);
  --chart--base--series--purple--subtle--50: var(--color--purple_900);
  --chart--base--series--red--primary--300: var(--color--red_600);
  --chart--base--series--red--primary--400: var(--color--red_500);
  --chart--base--series--red--primary--500: var(--color--red_400);
  --chart--base--series--red--primary--600: var(--color--red_300);
  --chart--base--series--red--primary--700: var(--color--red_200);
  --chart--base--series--red--subtle--100: var(--color--red_800);
  --chart--base--series--red--subtle--200: var(--color--red_700);
  --chart--base--series--red--subtle--50: var(--color--red_900);
  --chart--base--series--violet--primary--300: var(--color--violet_600);
  --chart--base--series--violet--primary--400: var(--color--violet_500);
  --chart--base--series--violet--primary--500: var(--color--violet_400);
  --chart--base--series--violet--primary--600: var(--color--violet_300);
  --chart--base--series--violet--primary--700: var(--color--violet_200);
  --chart--base--series--violet--subtle--100: var(--color--violet_800);
  --chart--base--series--violet--subtle--200: var(--color--violet_700);
  --chart--base--series--violet--subtle--50: var(--color--violet_900);
  --chart--base--series--yellow--primary--300: var(--color--yellow_600);
  --chart--base--series--yellow--primary--400: var(--color--yellow_500);
  --chart--base--series--yellow--primary--500: var(--color--yellow_400);
  --chart--base--series--yellow--primary--600: var(--color--yellow_300);
  --chart--base--series--yellow--primary--700: var(--color--yellow_200);
  --chart--base--series--yellow--subtle--100: var(--color--yellow_800);
  --chart--base--series--yellow--subtle--200: var(--color--yellow_700);
  --chart--base--series--yellow--subtle--50: var(--color--yellow_900);
  --chart--base--status--primary--critical: var(--color--red_400);
  --chart--base--status--primary--high: var(--color--red_300);
  --chart--base--status--primary--in_incident: var(--color--purple_400);
  --chart--base--status--primary--in_progress: var(--color--marina_400);
  --chart--base--status--primary--info: var(--color--purple_400);
  --chart--base--status--primary--low: var(--color--neutral_450);
  --chart--base--status--primary--medium: var(--color--yellow_500);
  --chart--base--status--primary--new: var(--color--marengo_300);
  --chart--base--status--primary--not_active: var(--color--neutral_550);
  --chart--base--status--primary--positive: var(--color--emerald_400);
  --chart--base--status--primary--resolved: var(--color--coldgrey_300);
  --chart--base--status--primary--update: var(--color--violet_400);
  --chart--base--status--subtle--critical: var(--color--red_900);
  --chart--base--status--subtle--high: var(--color--red_900);
  --chart--base--status--subtle--in_incident: var(--color--purple_900);
  --chart--base--status--subtle--in_progress: var(--color--marina_900);
  --chart--base--status--subtle--info: var(--color--purple_900);
  --chart--base--status--subtle--low: var(--color--neutral_900);
  --chart--base--status--subtle--medium: var(--color--yellow_900);
  --chart--base--status--subtle--new: var(--color--marengo_900);
  --chart--base--status--subtle--not_active: var(--color--neutral_900);
  --chart--base--status--subtle--positive: var(--color--emerald_900);
  --chart--base--status--subtle--resolved: var(--color--coldgrey_900);
  --chart--base--status--subtle--update: var(--color--violet_900);
  --chart--counter--text--primary: var(--color--neutral_250);
  --chart--counter--text--secondary: var(--color--neutral_450);
  --chart--counter_indicator--icon--critical: var(--color--red_400);
  --chart--counter_indicator--icon--neutral: var(--color--neutral_450);
  --chart--counter_indicator--icon--positive: var(--color--emerald_400);
  --chart--counter_indicator--text--critical: var(--color--red_400);
  --chart--counter_indicator--text--neutral: var(--color--neutral_450);
  --chart--counter_indicator--text--positive: var(--color--emerald_400);
  --chart--line--bg--gradient_stop: var(--color--neutral_0_transparent);
  --chart--line--border--regression: var(--color--neutral_0);
  --chart--overlay: var(--color--neutral_900);
  --chart--pie--bg--other: var(--color--neutral_450);
  --chart--pie--border--enabled: var(--color--neutral_900);
  --chart--pie_total--text--description--enabled: var(--color--neutral_450);
  --chart--pie_total--text--value--enabled: var(--color--neutral_250);
  --chart--segmented_level_bar--bg--graph_indncator--base: var(--color--neutral_250);
  --chart--segmented_level_bar--bg--scale--enabled: var(--color--neutral_900);
  --chart--segmented_level_bar--border--graph_indncator--enabled: var(--color--neutral_250);
  --chart--segmented_level_bar--text--graph_indncator--enabled: var(--color--neutral_250);
  --chart--segmented_level_bar--text--scale--enabled: var(--color--neutral_250);
  --chart--speed--icon--enabled: var(--color--neutral_250);
  --chart--speed--scale--enabled: var(--color--neutral_250);
  --chart--speed--text--enabled: var(--color--neutral_250);
  --legend--description: var(--color--neutral_450);
  --legend--title: var(--color--neutral_200);
  --legend_item--bg--active: var(--color--neutral_800);
  --legend_item--bg--active_selected: var(--color--marina_600);
  --legend_item--bg--enabled_selected: var(--color--marina_800);
  --legend_item--bg--hover: var(--color--neutral_850);
  --legend_item--bg--hover_selected: var(--color--marina_700);
  --legend_item--icon--enabled: var(--color--neutral_200);
  --legend_item--text--primary: var(--color--neutral_200);
  --legend_item--text--secondary: var(--color--neutral_450);
  --widget--bg--enabled: var(--color--neutral_950);
  --widget--bg--selected: var(--color--marina_900);
  --widget--border--enabled: var(--color--neutral_650);
  --widget--border--selected: var(--color--marina_400);
  --widget_header--text--active: var(--color--marina_200);
  --widget_header--text--description: var(--color--neutral_450);
  --widget_header--text--enabled: var(--color--neutral_250);
  --widget_header--text--hover: var(--color--marina_300);
  --widget_image--bg--enabled: var(--color--neutral_850);
  --widget_image--border--focus: var(--color--neutral_650);
  --widget_image--icon--enabled: var(--color--neutral_450);
  --widget_image--text--enabled: var(--color--neutral_450);
  --widget_text--bg--enabled: var(--color--neutral_900);
  --widget_text--bg--enabled_code: var(--color--neutral_500);
  --widget_text--bg--hover: var(--color--neutral_900);
  --widget_text--border--enabled: var(--color--neutral_600);
  --widget_text--border--hover: var(--color--marina_500);
  --widget_text--icon--enabled: var(--color--neutral_450);
  --widget_text--text--enabled--placeholder: var(--color--neutral_550);
  --widget_text--text--enabled--value: var(--color--neutral_250);
}

