.expandableText {
  padding: 0;
  position: relative;
  display: block;
  word-break: normal;
  max-width: 100%;

  :global(kl-auto-link > div) {
    display: inline;
  }

  :global(.hexa-ui-expander) {
    top: 2px;
  }

  &.expandableTextClipped {
    padding-inline-end: 20px;
  }

  &:focus-visible {
    box-shadow: 0px 0px 0px 2px var(--focus--stroke);
    border-radius: var(--radius--xs);
    outline: none;
  }

  :global(.kl6-field),
  :global(.kl6-field-control-wrapper),
  :global(.kl6-field-control-box) {
    min-width: 0;
    max-width: 100%;
  }

  :global(.kl6-link),
  :global(.kl6-link > span) {
    white-space: inherit;
    word-break: inherit;
  }
}

.expandableGradient::after {
  top: 0;
  bottom: 0;
  background-color: var(--bg--neutral--level_0);
}