.simpleWidgetPie {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 24px;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
}

.widgetCols {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}

.widgetDescription {
  margin-top: 8px;
  color: var(--text--secondary);
}
