.container {
  position: relative;
}

.containerGraph {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.containerGraphScrollY {
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.containerGraphScrollX {
  overflow-x: auto;
}

.containerFixed {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.containerFixedY {
  scrollbar-gutter: stable;
}
