.overlay {
  position: relative;
  min-width: 50px;
  min-height: 50px;
}

.hidden {
  display: none !important;
}
.overlayContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--fg--neutral_inverted--primary);
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 7;
  width: 100%;
  height: 100%;
  & * {
    color: var(--widget_text--text--enabled--placeholder) !important;
  }
}

.overlayIcon {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
  color: var(--link--default--text--enabled);
  cursor: pointer;
}

.hoverable {
  &:hover .overlayContent {
    background-color: var(--fg--neutral_inverted--primary);
    opacity: 0.9;
    border-radius: 8px;
    &.dashedBorder {
      border: 1px dashed var(--border--neutral--bold);
    }
    
    &.solidBlueBorder {
      border: 1px solid var(--border--color--accent_hover);
    }
  }

  &.overlayContent {
    background-color: var(--bg--neutral_transparent--level_1);
    border-radius: 8px;
  }

}
