/** Copied from rc-dropdown/assets/index.css */

@font-face {
  font-family: 'anticon';
  src: url('//at.alicdn.com/t/font_1434092639_4910953.eot');
  /* IE9*/
  src: url('//at.alicdn.com/t/font_1434092639_4910953.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_1434092639_4910953.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/font_1434092639_4910953.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_1434092639_4910953.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
:global(.ant-dropdown) {
  position: absolute;
  left: -9999px;
  top: -9999px;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
}
:global(.ant-dropdown-hidden) {
  display: none;
}
:global(.ant-dropdown) :global(.ant-dropdown-menu) {
  outline: none;
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 2px 0 2px;
  text-align: left;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 5px #ccc;
  background-clip: padding-box;
  border: 1px solid #ccc;
}
:global(.ant-dropdown) :global(.ant-dropdown-menu) > li {
  margin: 0;
}
:global(.ant-dropdown) :global(.ant-dropdown-menu):before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.01);
}
:global(.ant-dropdown) :global(.ant-dropdown-menu) > :global(.ant-dropdown) :global(.ant-dropdown-menu-item) {
  position: relative;
  display: block;
  padding: 7px 10px;
  clear: both;
  font-size: 12px;
  font-weight: normal;
  color: #666666;
  white-space: nowrap;
}
:global(.ant-dropdown) :global(.ant-dropdown-menu) > :global(.ant-dropdown) :global(.ant-dropdown-menu-item):hover,
:global(.ant-dropdown) :global(.ant-dropdown-menu) > :global(.ant-dropdown) :global(.ant-dropdown-menu-item-active),
:global(.ant-dropdown) :global(.ant-dropdown-menu) > :global(.ant-dropdown) :global(.ant-dropdown-menu-item-selected) {
  background-color: #ebfaff;
}
:global(.ant-dropdown) :global(.ant-dropdown-menu) > :global(.ant-dropdown) :global(.ant-dropdown-menu-item-selected) {
  position: relative;
}
:global(.ant-dropdown) :global(.ant-dropdown-menu) > :global(.ant-dropdown) :global(.ant-dropdown-menu-item-selected):after {
  content: '\e613';
  font-family: 'anticon';
  font-weight: bold;
  position: absolute;
  top: 6px;
  right: 16px;
  color: #3CB8F0;
}
:global(.ant-dropdown) :global(.ant-dropdown-menu) > :global(.ant-dropdown) :global(.ant-dropdown-menu-item-disabled) {
  color: #ccc;
  cursor: not-allowed;
  pointer-events: none;
}
:global(.ant-dropdown) :global(.ant-dropdown-menu) > :global(.ant-dropdown) :global(.ant-dropdown-menu-item-disabled):hover {
  color: #ccc;
  background-color: #fff;
  cursor: not-allowed;
}
:global(.ant-dropdown) :global(.ant-dropdown-menu) > :global(.ant-dropdown) :global(.ant-dropdown-menu-item):last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
:global(.ant-dropdown) :global(.ant-dropdown-menu) > :global(.ant-dropdown) :global(.ant-dropdown-menu-item):first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
:global(.ant-dropdown) :global(.ant-dropdown-menu) > :global(.ant-dropdown) :global(.ant-dropdown-menu-item-divider) {
  height: 1px;
  margin: 1px 0;
  overflow: hidden;
  background-color: #e5e5e5;
  line-height: 0;
}
:global(.ant-dropdown-slide-up-enter),
:global(.ant-dropdown-slide-up-appear) {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  transform-origin: 0 0;
  display: block !important;
  opacity: 0;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
  animation-play-state: paused;
}
:global(.ant-dropdown-slide-up-leave) {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  transform-origin: 0 0;
  display: block !important;
  opacity: 1;
  animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
  animation-play-state: paused;
}
:global(.ant-dropdown-slide-up-enter):global(.ant-dropdown-slide-up-enter-active):global(.ant-dropdown-placement-bottomLeft),
:global(.ant-dropdown-slide-up-appear):global(.ant-dropdown-slide-up-appear-active):global(.ant-dropdown-placement-bottomLeft),
:global(.ant-dropdown-slide-up-enter):global(.ant-dropdown-slide-up-enter-active):global(.ant-dropdown-placement-bottomCenter),
:global(.ant-dropdown-slide-up-appear):global(.ant-dropdown-slide-up-appear-active):global(.ant-dropdown-placement-bottomCenter),
:global(.ant-dropdown-slide-up-enter):global(.ant-dropdown-slide-up-enter-active):global(.ant-dropdown-placement-bottomRight),
:global(.ant-dropdown-slide-up-appear):global(.ant-dropdown-slide-up-appear-active):global(.ant-dropdown-placement-bottomRight) {
  animation-name: rcDropdownSlideUpIn;
  animation-play-state: running;
}
:global(.ant-dropdown-slide-up-enter):global(.ant-dropdown-slide-up-enter-active):global(.ant-dropdown-placement-topLeft),
:global(.ant-dropdown-slide-up-appear):global(.ant-dropdown-slide-up-appear-active):global(.ant-dropdown-placement-topLeft),
:global(.ant-dropdown-slide-up-enter):global(.ant-dropdown-slide-up-enter-active):global(.ant-dropdown-placement-topCenter),
:global(.ant-dropdown-slide-up-appear):global(.ant-dropdown-slide-up-appear-active):global(.ant-dropdown-placement-topCenter),
:global(.ant-dropdown-slide-up-enter):global(.ant-dropdown-slide-up-enter-active):global(.ant-dropdown-placement-topRight),
:global(.ant-dropdown-slide-up-appear):global(.ant-dropdown-slide-up-appear-active):global(.ant-dropdown-placement-topRight) {
  animation-name: rcDropdownSlideDownIn;
  animation-play-state: running;
}
:global(.ant-dropdown-slide-up-leave):global(.ant-dropdown-slide-up-leave-active):global(.ant-dropdown-placement-bottomLeft),
:global(.ant-dropdown-slide-up-leave):global(.ant-dropdown-slide-up-leave-active):global(.ant-dropdown-placement-bottomCenter),
:global(.ant-dropdown-slide-up-leave):global(.ant-dropdown-slide-up-leave-active):global(.ant-dropdown-placement-bottomRight) {
  animation-name: rcDropdownSlideUpOut;
  animation-play-state: running;
}
:global(.ant-dropdown-slide-up-leave):global(.ant-dropdown-slide-up-leave-active):global(.ant-dropdown-placement-topLeft),
:global(.ant-dropdown-slide-up-leave):global(.ant-dropdown-slide-up-leave-active):global(.ant-dropdown-placement-topCenter),
:global(.ant-dropdown-slide-up-leave):global(.ant-dropdown-slide-up-leave-active):global(.ant-dropdown-placement-topRight) {
  animation-name: rcDropdownSlideDownOut;
  animation-play-state: running;
}
@keyframes rcDropdownSlideUpIn {
  0% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }
}
@keyframes rcDropdownSlideUpOut {
  0% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(0);
  }
}
@keyframes rcDropdownSlideDownIn {
  0% {
    opacity: 0;
    transform-origin: 0% 100%;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform-origin: 0% 100%;
    transform: scaleY(1);
  }
}
@keyframes rcDropdownSlideDownOut {
  0% {
    opacity: 1;
    transform-origin: 0% 100%;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform-origin: 0% 100%;
    transform: scaleY(0);
  }
}
:global(.ant-dropdown-arrow) {
  position: absolute;
  border-width: 8px / 2;
  border-color: transparent;
  box-shadow: 0 1px 5px #ccc;
  border-style: solid;
  transform: rotate(45deg);
}
:global(.ant-dropdown-show-arrow):global(.ant-dropdown-placement-top),
:global(.ant-dropdown-show-arrow):global(.ant-dropdown-placement-topLeft),
:global(.ant-dropdown-show-arrow):global(.ant-dropdown-placement-topRight) {
  padding-bottom: 6px;
}
:global(.ant-dropdown-show-arrow):global(.ant-dropdown-placement-bottom),
:global(.ant-dropdown-show-arrow):global(.ant-dropdown-placement-bottomLeft),
:global(.ant-dropdown-show-arrow):global(.ant-dropdown-placement-bottomRight) {
  padding-top: 6px;
}
:global(.ant-dropdown-placement-top) :global(.ant-dropdown-arrow),
:global(.ant-dropdown-placement-topLeft) :global(.ant-dropdown-arrow),
:global(.ant-dropdown-placement-topRight) :global(.ant-dropdown-arrow) {
  bottom: 4px;
  border-top-color: white;
}
:global(.ant-dropdown-placement-top) :global(.ant-dropdown-arrow) {
  left: 50%;
}
:global(.ant-dropdown-placement-topLeft) :global(.ant-dropdown-arrow) {
  left: 15%;
}
:global(.ant-dropdown-placement-topRight) :global(.ant-dropdown-arrow) {
  right: 15%;
}
:global(.ant-dropdown-placement-bottom) :global(.ant-dropdown-arrow),
:global(.ant-dropdown-placement-bottomLeft) :global(.ant-dropdown-arrow),
:global(.ant-dropdown-placement-bottomRight) :global(.ant-dropdown-arrow) {
  top: 4px;
  border-bottom-color: white;
}
:global(.ant-dropdown-placement-bottom) :global(.ant-dropdown-arrow) {
  left: 50%;
}
:global(.ant-dropdown-placement-bottomLeft) :global(.ant-dropdown-arrow) {
  left: 15%;
}
:global(.ant-dropdown-placement-bottomRight) :global(.ant-dropdown-arrow) {
  right: 15%;
}
