/** Copied from rc-menu/assets/index.css */

@font-face {
  font-family: 'FontAwesome';
  src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/fonts/fontawesome-webfont.eot');
  src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/fonts/fontawesome-webfont.woff') format('woff'), url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/fonts/fontawesome-webfont.ttf') format('truetype'), url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/fonts/fontawesome-webfont.svg?#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
:global(.ant-dropdown-menu) {
  outline: none;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  list-style: none;
  border: 1px solid #d9d9d9;
  box-shadow: 0 0 4px #d9d9d9;
  border-radius: 3px;
  color: #666;
}
:global(.ant-dropdown-menu-rtl) {
  direction: rtl;
}
:global(.ant-dropdown-menu-hidden),
:global(.ant-dropdown-menu-submenu-hidden) {
  display: none;
}
:global(.ant-dropdown-menu-collapse) {
  overflow: hidden;
  transition: height 0.3s ease-out;
}
:global(.ant-dropdown-menu-item-group-list) {
  margin: 0;
  padding: 0;
}
:global(.ant-dropdown-menu-item-group-title) {
  color: #999;
  line-height: 1.5;
  padding: 8px 10px;
  border-bottom: 1px solid #dedede;
}
:global(.ant-dropdown-menu-item-active),
:global(.ant-dropdown-menu-submenu-active) > :global(.ant-dropdown-menu-submenu-title) {
  background-color: #eaf8fe;
}
:global(.ant-dropdown-menu-item-selected) {
  background-color: #eaf8fe;
  transform: translateZ(0);
}
:global(.ant-dropdown-menu-submenu-selected) {
  background-color: #eaf8fe;
}
:global(.ant-dropdown-menu) > :global(.ant-dropdown-menu-submenu) {
  padding: 0;
}
:global(.ant-dropdown-menu-horizontal):global(.ant-dropdown-menu-sub),
:global(.ant-dropdown-menu-vertical):global(.ant-dropdown-menu-sub),
:global(.ant-dropdown-menu-vertical-left):global(.ant-dropdown-menu-sub),
:global(.ant-dropdown-menu-vertical-right):global(.ant-dropdown-menu-sub) {
  min-width: 160px;
  margin-top: 0;
}
:global(.ant-dropdown-menu-item),
:global(.ant-dropdown-menu-submenu-title) {
  margin: 0;
  position: relative;
  display: block;
  padding: 7px 7px 7px 16px;
  white-space: nowrap;
}
:global(.ant-dropdown-menu-rtl) :global(.ant-dropdown-menu-item),
:global(.ant-dropdown-menu-rtl) :global(.ant-dropdown-menu-submenu-title) {
  padding: 7px 16px 7px 7px;
}
:global(.ant-dropdown-menu-item):global(.ant-dropdown-menu-item-disabled),
:global(.ant-dropdown-menu-submenu-title):global(.ant-dropdown-menu-item-disabled),
:global(.ant-dropdown-menu-item):global(.ant-dropdown-menu-submenu-disabled),
:global(.ant-dropdown-menu-submenu-title):global(.ant-dropdown-menu-submenu-disabled) {
  color: #777;
}
:global(.ant-dropdown-menu-item) {
  display: flex;
  align-items: center;
}
:global(.ant-dropdown-menu-item) :global(.ant-dropdown-menu-item-extra) {
  margin-left: auto;
  font-size: 14px;
}
:global(.ant-dropdown-menu-item-divider) {
  height: 1px;
  margin: 1px 0;
  overflow: hidden;
  padding: 0;
  line-height: 0;
  background-color: #e5e5e5;
}
:global(.ant-dropdown-menu-submenu-popup) {
  position: absolute;
}
:global(.ant-dropdown-menu-submenu-popup) :global(.submenu-title-wrapper) {
  padding-right: 20px;
}
:global(.ant-dropdown-menu-submenu-rtl):global(.ant-dropdown-menu-submenu-popup) :global(.submenu-title-wrapper),
:global(.ant-dropdown-menu-submenu-rtl) :global(.ant-dropdown-menu-submenu-popup) :global(.submenu-title-wrapper) {
  padding-right: 0;
  padding-left: 20px;
}
:global(.ant-dropdown-menu) > :global(.ant-dropdown-menu-submenu) > :global(.ant-dropdown-menu) {
  background-color: #fff;
}
:global(.ant-dropdown-menu) :global(.ant-dropdown-menu-submenu-title) :global(.anticon),
:global(.ant-dropdown-menu) :global(.ant-dropdown-menu-item) :global(.anticon) {
  width: 14px;
  height: 14px;
  margin-right: 8px;
  top: -1px;
}
:global(.ant-dropdown-menu-rtl) :global(.ant-dropdown-menu) :global(.ant-dropdown-menu-submenu-title) :global(.anticon),
:global(.ant-dropdown-menu-rtl) :global(.ant-dropdown-menu) :global(.ant-dropdown-menu-item) :global(.anticon) {
  margin-right: 0;
  margin-left: 8px;
}
:global(.ant-dropdown-menu-horizontal) {
  background-color: #f3f5f7;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  box-shadow: none;
  white-space: nowrap;
  overflow: hidden;
}
:global(.ant-dropdown-menu-horizontal) > :global(.ant-dropdown-menu-item),
:global(.ant-dropdown-menu-horizontal) > :global(.ant-dropdown-menu-submenu) > :global(.ant-dropdown-menu-submenu-title) {
  padding: 15px 20px;
}
:global(.ant-dropdown-menu-horizontal) > :global(.ant-dropdown-menu-submenu),
:global(.ant-dropdown-menu-horizontal) > :global(.ant-dropdown-menu-item) {
  border-bottom: 2px solid transparent;
  display: inline-block;
  vertical-align: bottom;
}
:global(.ant-dropdown-menu-horizontal) > :global(.ant-dropdown-menu-submenu-active),
:global(.ant-dropdown-menu-horizontal) > :global(.ant-dropdown-menu-item-active) {
  border-bottom: 2px solid #2db7f5;
  background-color: #f3f5f7;
  color: #2baee9;
}
:global(.ant-dropdown-menu-horizontal):after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}
:global(.ant-dropdown-menu-vertical),
:global(.ant-dropdown-menu-vertical-left),
:global(.ant-dropdown-menu-vertical-right),
:global(.ant-dropdown-menu-inline) {
  padding: 12px 0;
}
:global(.ant-dropdown-menu-vertical) > :global(.ant-dropdown-menu-item),
:global(.ant-dropdown-menu-vertical-left) > :global(.ant-dropdown-menu-item),
:global(.ant-dropdown-menu-vertical-right) > :global(.ant-dropdown-menu-item),
:global(.ant-dropdown-menu-inline) > :global(.ant-dropdown-menu-item),
:global(.ant-dropdown-menu-vertical) > :global(.ant-dropdown-menu-submenu) > :global(.ant-dropdown-menu-submenu-title),
:global(.ant-dropdown-menu-vertical-left) > :global(.ant-dropdown-menu-submenu) > :global(.ant-dropdown-menu-submenu-title),
:global(.ant-dropdown-menu-vertical-right) > :global(.ant-dropdown-menu-submenu) > :global(.ant-dropdown-menu-submenu-title),
:global(.ant-dropdown-menu-inline) > :global(.ant-dropdown-menu-submenu) > :global(.ant-dropdown-menu-submenu-title) {
  padding: 12px 8px 12px 24px;
}
:global(.ant-dropdown-menu-rtl):global(.ant-dropdown-menu-vertical) > :global(.ant-dropdown-menu-item),
:global(.ant-dropdown-menu-rtl):global(.ant-dropdown-menu-vertical-left) > :global(.ant-dropdown-menu-item),
:global(.ant-dropdown-menu-rtl):global(.ant-dropdown-menu-vertical-right) > :global(.ant-dropdown-menu-item),
:global(.ant-dropdown-menu-rtl):global(.ant-dropdown-menu-inline) > :global(.ant-dropdown-menu-item),
:global(.ant-dropdown-menu-rtl):global(.ant-dropdown-menu-vertical) > :global(.ant-dropdown-menu-submenu) > :global(.ant-dropdown-menu-submenu-title),
:global(.ant-dropdown-menu-rtl):global(.ant-dropdown-menu-vertical-left) > :global(.ant-dropdown-menu-submenu) > :global(.ant-dropdown-menu-submenu-title),
:global(.ant-dropdown-menu-rtl):global(.ant-dropdown-menu-vertical-right) > :global(.ant-dropdown-menu-submenu) > :global(.ant-dropdown-menu-submenu-title),
:global(.ant-dropdown-menu-rtl):global(.ant-dropdown-menu-inline) > :global(.ant-dropdown-menu-submenu) > :global(.ant-dropdown-menu-submenu-title) {
  padding: 12px 24px 12px 8px;
}
:global(.ant-dropdown-menu-vertical) :global(.ant-dropdown-menu-submenu-arrow),
:global(.ant-dropdown-menu-vertical-left) :global(.ant-dropdown-menu-submenu-arrow),
:global(.ant-dropdown-menu-vertical-right) :global(.ant-dropdown-menu-submenu-arrow),
:global(.ant-dropdown-menu-inline) :global(.ant-dropdown-menu-submenu-arrow) {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
  position: absolute;
  right: 16px;
  line-height: 1.5em;
}
:global(.ant-dropdown-menu-vertical) :global(.ant-dropdown-menu-submenu-arrow):before,
:global(.ant-dropdown-menu-vertical-left) :global(.ant-dropdown-menu-submenu-arrow):before,
:global(.ant-dropdown-menu-vertical-right) :global(.ant-dropdown-menu-submenu-arrow):before,
:global(.ant-dropdown-menu-inline) :global(.ant-dropdown-menu-submenu-arrow):before {
  content: '\f0da';
}
:global(.ant-dropdown-menu-rtl):global(.ant-dropdown-menu-vertical) :global(.ant-dropdown-menu-submenu-arrow):before,
:global(.ant-dropdown-menu-rtl):global(.ant-dropdown-menu-vertical-left) :global(.ant-dropdown-menu-submenu-arrow):before,
:global(.ant-dropdown-menu-rtl):global(.ant-dropdown-menu-vertical-right) :global(.ant-dropdown-menu-submenu-arrow):before,
:global(.ant-dropdown-menu-rtl):global(.ant-dropdown-menu-inline) :global(.ant-dropdown-menu-submenu-arrow):before,
:global(.ant-dropdown-menu-submenu-rtl):global(.ant-dropdown-menu-vertical) :global(.ant-dropdown-menu-submenu-arrow):before,
:global(.ant-dropdown-menu-submenu-rtl):global(.ant-dropdown-menu-vertical-left) :global(.ant-dropdown-menu-submenu-arrow):before,
:global(.ant-dropdown-menu-submenu-rtl):global(.ant-dropdown-menu-vertical-right) :global(.ant-dropdown-menu-submenu-arrow):before,
:global(.ant-dropdown-menu-submenu-rtl):global(.ant-dropdown-menu-inline) :global(.ant-dropdown-menu-submenu-arrow):before {
  content: '\f0d9';
}
:global(.ant-dropdown-menu-rtl):global(.ant-dropdown-menu-vertical) :global(.ant-dropdown-menu-submenu-arrow),
:global(.ant-dropdown-menu-rtl):global(.ant-dropdown-menu-vertical-left) :global(.ant-dropdown-menu-submenu-arrow),
:global(.ant-dropdown-menu-rtl):global(.ant-dropdown-menu-vertical-right) :global(.ant-dropdown-menu-submenu-arrow),
:global(.ant-dropdown-menu-rtl):global(.ant-dropdown-menu-inline) :global(.ant-dropdown-menu-submenu-arrow),
:global(.ant-dropdown-menu-submenu-rtl):global(.ant-dropdown-menu-vertical) :global(.ant-dropdown-menu-submenu-arrow),
:global(.ant-dropdown-menu-submenu-rtl):global(.ant-dropdown-menu-vertical-left) :global(.ant-dropdown-menu-submenu-arrow),
:global(.ant-dropdown-menu-submenu-rtl):global(.ant-dropdown-menu-vertical-right) :global(.ant-dropdown-menu-submenu-arrow),
:global(.ant-dropdown-menu-submenu-rtl):global(.ant-dropdown-menu-inline) :global(.ant-dropdown-menu-submenu-arrow) {
  right: auto;
  left: 16px;
}
:global(.ant-dropdown-menu-inline) :global(.ant-dropdown-menu-submenu-arrow) {
  transform: rotate(90deg);
  transition: transform 0.3s;
}
:global(.ant-dropdown-menu-inline) :global(.ant-dropdown-menu-submenu-open) > :global(.ant-dropdown-menu-submenu-title) :global(.ant-dropdown-menu-submenu-arrow) {
  transform: rotate(-90deg);
}
:global(.ant-dropdown-menu-vertical):global(.ant-dropdown-menu-sub),
:global(.ant-dropdown-menu-vertical-left):global(.ant-dropdown-menu-sub),
:global(.ant-dropdown-menu-vertical-right):global(.ant-dropdown-menu-sub) {
  padding: 0;
}
:global(.ant-dropdown-menu-submenu-rtl):global(.ant-dropdown-menu-vertical):global(.ant-dropdown-menu-sub),
:global(.ant-dropdown-menu-submenu-rtl):global(.ant-dropdown-menu-vertical-left):global(.ant-dropdown-menu-sub),
:global(.ant-dropdown-menu-submenu-rtl):global(.ant-dropdown-menu-vertical-right):global(.ant-dropdown-menu-sub) {
  direction: rtl;
}
:global(.ant-dropdown-menu-sub):global(.ant-dropdown-menu-inline) {
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
:global(.ant-dropdown-menu-sub):global(.ant-dropdown-menu-inline) > :global(.ant-dropdown-menu-item),
:global(.ant-dropdown-menu-sub):global(.ant-dropdown-menu-inline) > :global(.ant-dropdown-menu-submenu) > :global(.ant-dropdown-menu-submenu-title) {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 0;
}
:global(.ant-dropdown-menu-rtl) :global(.ant-dropdown-menu-sub):global(.ant-dropdown-menu-inline) > :global(.ant-dropdown-menu-item),
:global(.ant-dropdown-menu-rtl) :global(.ant-dropdown-menu-sub):global(.ant-dropdown-menu-inline) > :global(.ant-dropdown-menu-submenu) > :global(.ant-dropdown-menu-submenu-title) {
  padding-left: 0;
}
:global(.ant-dropdown-menu-open-slide-up-enter),
:global(.ant-dropdown-menu-open-slide-up-appear) {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  transform-origin: 0 0;
  opacity: 0;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
  animation-play-state: paused;
}
:global(.ant-dropdown-menu-open-slide-up-leave) {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  transform-origin: 0 0;
  opacity: 1;
  animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
  animation-play-state: paused;
}
:global(.ant-dropdown-menu-open-slide-up-enter):global(.ant-dropdown-menu-open-slide-up-enter-active),
:global(.ant-dropdown-menu-open-slide-up-appear):global(.ant-dropdown-menu-open-slide-up-appear-active) {
  animation-name: rcMenuOpenSlideUpIn;
  animation-play-state: running;
}
:global(.ant-dropdown-menu-open-slide-up-leave):global(.ant-dropdown-menu-open-slide-up-leave-active) {
  animation-name: rcMenuOpenSlideUpOut;
  animation-play-state: running;
}
@keyframes rcMenuOpenSlideUpIn {
  0% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }
}
@keyframes rcMenuOpenSlideUpOut {
  0% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(0);
  }
}
:global(.ant-dropdown-menu-open-zoom-enter),
:global(.ant-dropdown-menu-open-zoom-appear) {
  opacity: 0;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  transform-origin: 0 0;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
  animation-play-state: paused;
}
:global(.ant-dropdown-menu-open-zoom-leave) {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  transform-origin: 0 0;
  animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
  animation-play-state: paused;
}
:global(.ant-dropdown-menu-open-zoom-enter):global(.ant-dropdown-menu-open-zoom-enter-active),
:global(.ant-dropdown-menu-open-zoom-appear):global(.ant-dropdown-menu-open-zoom-appear-active) {
  animation-name: rcMenuOpenZoomIn;
  animation-play-state: running;
}
:global(.ant-dropdown-menu-open-zoom-leave):global(.ant-dropdown-menu-open-zoom-leave-active) {
  animation-name: rcMenuOpenZoomOut;
  animation-play-state: running;
}
:global(.ant-dropdown-menu-submenu-rtl):global(.ant-dropdown-menu-open-zoom-enter),
:global(.ant-dropdown-menu-submenu-rtl):global(.ant-dropdown-menu-open-zoom-appear),
:global(.ant-dropdown-menu-submenu-rtl):global(.ant-dropdown-menu-open-zoom-leave),
:global(.ant-dropdown-menu-submenu-rtl) :global(.ant-dropdown-menu-open-zoom-enter),
:global(.ant-dropdown-menu-submenu-rtl) :global(.ant-dropdown-menu-open-zoom-appear),
:global(.ant-dropdown-menu-submenu-rtl) :global(.ant-dropdown-menu-open-zoom-leave) {
  transform-origin: top right !important;
}
@keyframes rcMenuOpenZoomIn {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@keyframes rcMenuOpenZoomOut {
  0% {
    transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    transform: scale(0, 0);
  }
}
