.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
  align-items: center;
  justify-content: center;
  height: calc(100% - 20px);
  .description{
    z-index: 9;
  }
}


.gauge {
  position: relative;
  width: 100%;
  height: 100%;
}
