@use "sass:map";
@use '../../design-system/tokens/typography.module.scss';

$button-tokens: (
  primary: (
    bg: var(--common--accent--enabled),
    color: var(--fg--neutral_inverted--primary),
    hover: var(--common--accent--hover),
    active: var(--common--accent--active),
    border: none,
    disabled-border: none
  ),
  secondary: (
    bg: var(--bg--neutral--level_0),
    color: var(--fg--neutral--primary),
    hover: var(--bg--neutral--level_0_hover),
    active: var(--bg--neutral--level_0--active),
    border: 1px solid var(--border--neutral--bold),
    disabled-border: 1px solid var(--border--neutral--subtle_overlay)
  ),
  tertiary: (
    bg: none,
    color: var(--fg--neutral--primary),
    hover: var(--bg--neutral--level_0_hover),
    active: var(--bg--neutral--level_0--active),
    border: none,
    disabled-border: none
  ),
  dangerFilled: (
    bg: var(--common--danger--enabled),
    color: var(--fg--neutral_inverted--primary),
    hover: var(--common--danger--hover),
    active: var(--common--danger--active),
    border: none,
    disabled-border: none
  ),
  dangerOutlined: (
    bg: none,
    color: var(--common--danger--enabled),
    hover: var(--bg--danger_subtle--hover),
    active: var(--bg--danger_subtle--active),
    border: 1px solid var(--common--danger--enabled),
    disabled-border: 1px solid var(--border--neutral--subtle_overlay)
  ),
  ai: (
    bg: (
      linear-gradient(90deg, var(--brand--solid--kaspersky_green_300) 0%, var(--brand--transparent--kaspersky_green_300_0) 42.475%),
      linear-gradient(188.86deg, var(--common--violet--enabled) 6.222%, var(--common--marina--enabled) 69.82%)
    ),
    color: var(--fg--neutralinverted--primary),
    hover: (
      linear-gradient(90deg, var(--brand--solid--kaspersky_green_300) 0%, var(--brand--transparent--kaspersky_green_300_0) 42.475%),
      linear-gradient(188.86deg, var(--common--violet--hover) 6.222%, var(--common--marina--hover) 69.82%)
    ),
    active: (
      linear-gradient(90deg, var(--brand--solid--kaspersky_green_600) 0%, var(--brand--transparent--kaspersky_green_300_0) 42.475%),
      linear-gradient(188.86deg, var(--common--violet--active) 6.222%, var(--common--marina--active) 69.82%)
    ),
    border: none,
    disabled-border: none
  )
);

@mixin apply-colors($mode) {
  $theme: map.get($button-tokens, $mode);

  background: map.get($theme, bg);
  color: map.get($theme, color);
  border: map.get($theme, border);

  &:not([disabled]) > span[role="img"] > svg {
    color: map.get($theme, color);
  }

  &:hover,
  &:hover:focus {
    background: map.get($theme, hover);
  }

  &:active,
  &:active:focus,
  &.buttonPressed {
    background: map.get($theme, active);
    transition-duration: .02s;
  }

  &[disabled],
  &:global(.ant-btn-loading) {
    &,
    &:hover,
    &:active,
    &:focus {
      background-color: var(--bg--neutral_transparent--level_1);
      box-shadow: none;
      color: var(--fg--neutral--tertiary);
      cursor: not-allowed;
      border: map.get($theme, disabled-border);

      svg {
        color: var(--fg--neutral--tertiary);
      }
    }
  }

  &:global(.ant-dropdown-trigger):global(.ant-dropdown-open) {
    background: map.get($theme, active);
  }
}

.buttonGroup {
  gap: var(--spacing--padding_m);

  :global(.ant-btn):first-child:not(:last-child) {
    border-radius: var(--radius--m) var(--radius--none) var(--radius--none) var(--radius--m);
  }

  :global(.ant-btn):not(:last-child):not(:first-child) {
    border-radius: var(--radius--none);
  }

  :global(.ant-btn):last-child:not(:first-child) {
    border-radius: var(--radius--none) var(--radius--m) var(--radius--m) var(--radius--none);
  }
}

.splitButton.primary,
.splitButton.dangerFilled {
  gap: var(--spacing--gap_closest);
}

.splitButton.secondary {
  gap: 1px;

  button:first-child {
    border-right: none;
  }
}

:global(.ant-btn).button {
  align-items: center;
  box-shadow: none;
  display: inline-flex;
  flex-direction: row;
  gap: var(--spacing--gap_dependent);
  justify-content: center;
  max-width: 100%;
  outline: none;

  .iconWrapper {
    display: flex;
    flex-shrink: 0;
  }

  &:focus-visible {
    // can not import '@kaspersky/hexa-ui-core/colors/js'.effects.focus[1]
    box-shadow: 0px 0px 0px 2px var(--border--color--focus);
  }

  &[ant-click-animating-without-extra-node=true]::after,
  :global(.ant-click-animating-node) {
    display: none;
  }

  &:global(.ant-btn-loading) {
    > span, > svg {
      overflow: hidden;
      transition: visibility 0.1s;
    }

    > :global(.ant-spin-spinning) {
      position: absolute;
    }
  }

  :global(.ant-btn-loading-icon), &::before {
    display: none;
  }

  :global(.anticon) {
    line-height: 0;
  }
}

:global(.ant-btn).buttonLoading {
  &:global(.ant-btn-loading) {
    > span, > svg {
      visibility: hidden;
    }
  }
}

:global(.ant-btn):global(.ant-btn).primary {
  @include apply-colors(primary);
}

:global(.ant-btn):global(.ant-btn).secondary {
  @include apply-colors(secondary);
}

:global(.ant-btn):global(.ant-btn).tertiary {
  @include apply-colors(tertiary);
}

:global(.ant-btn):global(.ant-btn).dangerFilled {
  @include apply-colors(dangerFilled);
}

:global(.ant-btn):global(.ant-btn).dangerOutlined {
  @include apply-colors(dangerOutlined);
}

:global(.ant-btn):global(.ant-btn).ai {
  @include apply-colors(ai);
}

:global(.ant-btn).iconOnly {
  line-height: unset;
  padding: unset;

  > svg {
    min-width: min-content;
  }
}

/* Button Size */
:global(.ant-btn).small {
  border-radius: var(--radius--s);
  height: 24px;
  min-width: 64px;
  padding: var(--spacing--padding_xs) var(--spacing--padding_m);


  &.iconOnly {
    min-width: 24px;
    width: 24px;
  }

  .buttonText {
    @extend .btm4;
  }
}

:global(.ant-btn).medium {
  border-radius: var(--radius--m);
  height: 32px;
  min-width: 80px;
  padding: var(--spacing--padding_sm) var(--spacing--padding_ml);


  &.iconOnly {
    min-width: 32px;
    width: 32px;
  }

  .buttonText {
    @extend .btm3;
  }
}

:global(.ant-btn).large {
  border-radius: var(--radius--m);
  height: 40px;
  min-width: 80px;
  padding: var(--spacing--padding_m) var(--spacing--padding_lg);

  &.iconOnly {
    min-width: 40px;
    width: 40px;
  }

  .buttonText {
    @extend .btm3;
  }
}

:global(.ant-btn).extraLarge {
  border-radius: var(--radius--m);
  height: 48px;
  min-width: 80px;
  padding: var(--spacing--padding_ml) var(--spacing--padding_xl);

  &.iconOnly {
    min-width: 48px;
    width: 48px;
  }

  .buttonText {
    @extend .btm2;
  }
}

.buttonText {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
