.filtersList {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.filterItemContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing--gap_related);
  width: 100%;
}

.filtersSeparator {
  display: flex;
  justify-content: center;
  margin: var(--spacing--padding_s) 0;
}

.propertyRow {
  display: flex;
  flex-direction: column;
  gap: var(--spacing--gap_grouped);
}

.valueRow {
  display: flex;
  gap: var(--spacing--gap_related);
  align-items: end;

  .filterCondition {
    display: flex;
    width: 100%;
    gap: var(--spacing--gap_related);
  }

  .filterAttribute {
    display: flex;
    height: fit-content;
    margin-top: var(--spacing--padding_m);
  }
}

.valueRow.valueRow.valueRow :global(.kl6-field-control-box) {
  min-width: unset;
}

.addFilterRowButton {
  display: flex;
}

.filtersToolbar {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: var(--toolbar--bg);
  margin: 0 24px;
  padding: 4px;
  gap: 4px;
  width: 100%;
}

.filtersFooter {
  display: flex;
  gap: 12px;
}
