.counterValues {
  position: relative;
  width: 100%;
}

.value {
  text-align: right;
}

.previousValueWrapper {
  flex: 1;
  position: relative;
  top: 0;
  align-self: flex-end;
  margin-bottom: var(--counter-previous-offset, 5px);
  min-width: 0;

  .previousValue {
    text-align: left;
  }
}

.valueWrapper {
  &.withPreviousValue {
    flex: 1;
    min-width: 0;
  }
}

.valueTextWrapper {
  flex: 0 1 auto;
  min-width: 0;
}

.trend {
  position: absolute;
  width: 16px;
  height: 16px;
  top: var(--counter-trend-top, 12px);
  left: calc(50% + 4px);

  &.bigger {
    transform: rotate(180deg);
  }

  &.equal {
    color: var(--chart--counter_indicator--text--neutral);
  }
}

.good {
  color: var(--chart--counter_indicator--text--positive) !important;
}

svg.good {
  color: var(--chart--counter_indicator--icon--positive) !important;
}

.bad {
  color: var(--chart--counter_indicator--text--critical) !important;
}
bad.good {
  color: var(--chart--counter_indicator--icon-critical) !important;
}

.equal {
  color: var(--text--secondary) !important;
}

.prefix,
.suffix {
  color: var(--chart--counter--text--secondary) !important;
  margin-top: var(--counter-prefix-offset, 5px);
}
