@mixin apply-text-reducer() {
  flex: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin apply-colors($selected: false) {
  $suffix: if($selected, '_selected', '');

  background: var(--submenu_item--bg--enabled#{$suffix});
  
  .rowText {
    color: var(--submenu_item--text--enabled#{$suffix});
  }

  .rowBlock,
  .hoverRowBlock {
    color: var(--submenu_item--icon--enabled#{$suffix});
  }

  &:hover {
    background: var(--submenu_item--bg--hover#{$suffix});
    
    .rowText {
      color: var(--submenu_item--text--hover#{$suffix});
    }

    .rowBlock {
      color: var(--submenu_item--icon--hover#{$suffix});
    }
  }

  &:active {
    background: var(--submenu_item--bg--active#{$suffix});

    .rowText {
      color: var(--submenu_item--text--active#{$suffix});
    }

    .rowBlock {
      color: var(--submenu_item--icon--active#{$suffix});
    }
  }

  &.disabled {
    &, &:hover, &:active, &:focus-visible {
      background: var(--submenu_item--bg--disabled#{$suffix});
      
      .rowText {
        color: var(--submenu_item--text--disabled#{$suffix});
      }
      
      .rowBlock {
        color: var(--submenu_item--icon--disabled#{$suffix});
      }
    }
  }
}

.wrapper {
  display: flex;
  height: 100%;  
}

.content {
  padding: 24px;
  width: 100%;
  overflow-y: auto;
}

.submenu {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  gap: 24px;
  background: var(--submenu--bg_subtle);
  border-right: 1px solid var(--submenu--border);
}

.itemsStack {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.arrowButton {
  margin: 6px 4px;
  align-self: flex-start;
}

.elementBefore {
  padding: 0 16px;
}

.elementAfter {
  padding: 0 16px;
  margin-top: auto;
}

.divider {
  width: 100%;
  min-width: 216px;
  margin: 4px 8px;
  min-height: 1px;
}

.title {
  display: flex;
  gap: 4px;
  width: 100%;
  min-width: 216px;
  height: 16px;
  margin: 0 8px;
  margin-top: 16px;
  justify-content: space-between;
}

.titleText {
  @include apply-text-reducer();
  color: var(--submenu--text);
}

.description {
  color: var(--submenu_item--text--description--enabled);

  &.disabled {
    color: var(--submenu_item--text--description--disabled);
  }
}

.rowTextCol {
  flex: 1 1 auto;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.row {
  display: flex;
  gap: 4px;
  cursor: pointer;
  border-radius: 8px;
  width: 100%;
  min-width: 232px;
  padding: 6px 8px;
  padding-left: calc(var(--left-offset) * 1px);

  .rowText {
    width: 100%;
  }

  .rowBlock,
  .hoverRowBlock {
    display: flex;
    align-items: center;
    height: 20px;
  }

  .hoverRowBlock:not(:has(.ant-dropdown-open)) {
    display: none;
  }

  @include apply-colors();

  &.selected {
    @include apply-colors(true);
  }

  &.truncateText .rowText {
    @include apply-text-reducer();
  }

  &:hover {
    .hoverRowBlock {
      display: flex;
    }
  }

  &:focus-visible {
    box-shadow: 0px 0px 0px 2px var(--focus--stroke);
    outline: none;
  }

  &.disabled {
    &, &:hover, &:active, &:focus-visible {
      cursor: not-allowed;
      box-shadow: none;
      outline: none;
    }
  }
}
