.contextMenuCounter.contextMenuCounter {
  color: var(--fg--neutral--secondary);
}

.customScrollContainer {
  &.hidden {
    height: 0;
    border-top: 0;
    border-bottom: 0;
  }

  :global(.hexa-ui-table-pagination-active) &:not(.hidden) {
    margin-bottom: -16px;
  }
}