name: "[storybook] @kaspersky/hexa-ui-icons"

on:
  push:
    branches:
      - "master"
    paths:
      - 'packages/kaspersky-hexa-ui-icons/**'
      - '.github/workflows/kaspersky-hexa-ui-icons-storybook.yml'
  workflow_dispatch:

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
      id-token: write
    defaults:
      run:
        working-directory: ./packages/kaspersky-hexa-ui-icons
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install dependencies
        shell: bash
        run: |
          npm ci
      - name: Build Storybook
        shell: bash
        run: |
          npm run build-storybook
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./packages/kaspersky-hexa-ui-icons/storybook/hexa-ui-icons
          destination_dir: hexa-ui-icons
